openapi: 3.0.3
info:
  title: APNF MAN Platform - Platform API Reference
  version: 1.7.1
  description: |
    # Introduction

    Welcome to the APNF MAN platform API reference.

    The APIs listed in this reference provide all functionalities available to service providers, including:
    - create and manage the STI certificates to be used for signing their SIP telephone calls per the STIR SHAKEN
    protocol
    - create and manage along with functionalities to manage access to the MAN platform.
    - create and manage users who shall be given access to the platform

    Each provider registered with the APNF may request an access to the MAN platform and therefore these APIs.

    ## Authentication

    All APIs listed in this document require the API client to be authenticated.
    The authentication process relies on OAuth 2.0 protocol, where an access token needs
    to be passed to the API request as a JSON Web TOKEN using the Bearer `Authorization` header.

    ```
    Authorization: Bearer <JWT>
    ```

    Refer to the *MAN Platform Authorization API Reference* on how to generate access tokens. Note that in order to
    request an access token, you will first need to create an **API credential** as described in this reference.

    ## Requests & Headers

    - A Bearer `Authorization` header is required, where the Bearer token shall be set with the access token generated by the MAN platform authorization API.
    - A `X-Request-Id` header can be provided with an uuid. If provided, this header will be returned in the
    `X-Response-Id` response header.

    ## Responses & Headers

    Unless explicitly specified, all responses will use JSON for the response body format.
    The `Content-Type` header will be included in all responses to make the type explicit.

    Following headers are also included in responses:
    - `Content-Type`: format of the response, if a body is included in the response.
    - `Content-Length`: size in bytes of the response body, if a body is included in the response.
    - `X-Response-Id`: uniquely identifies the response sent to the client. It corresponds to the `X-Request-Id`
      request header if provided. Otherwise, a new value is generated,
    - `X-Correlation-Id`: ID generated by the API gateway to track the request between the different services. This
      value can be different from the `X-Response-Id` header.

    ## Dates

    Unless specified, all dates exposed in this API comply with the ISO-8601 date format using UTC as the timezone.

    ## Common Error Codes

    The following error codes can be returned:

    | Error code | Description                                                             |
    |:----------:|-------------------------------------------------------------------------|
    | **400**    | The request is malformed.                                               |
    | **401**    | The authentication failed.                                              |
    | **403**    | User is not allowed to access to the resource.                          |
    | **404**    | The resource does not exist.                                            |
    | **405**    | The method is not allowed for the resource.                             |
    | **406**    | The format in the `Accept` header is not supported.                     |
    | **409**    | There is a conflict between the object status and the action requested  |
    | **415**    | The format in the `Content-Type` header is not supported.               |
    | **429**    | Too many requests have been sent by the client (see Rate Limiting).      |
    | **500**    | An unexpected error occurred while processing the request.              |
    | **503**    | The service is unavailable.                                             |

    ## Rate Limiting

    To ensure availability to all clients, concurrent accesses to this API are restricted per
    below rate limiting logic:

    - Each IP address is allowed to perform up to 600 calls during a period of 1 minute.
    - The `GET /bpco/certificates` API method has an additional restriction, limiting calls to 1 per minute.
    - Any additional call will be rejected by the API using a 429 "TOO_MANY_REQUESTS" error code


    # References

    Additional API references are also available, covering other functionalities:
    - **MAN Platform Authentication API Reference**, providing the APIs to create access tokens require to authenticate against the APIs listed in this document.
    - **MAN Platform GCO API Reference**, listing the MAN platform GCO (Gestionnaires des Certificats Opérateurs) module APIs, to manage service provider data in the MAN platform, including STI certificates.
    - **MAN Platform BPCO API Reference**, listing APIs published as part of the BPCO (Base Publique des Certificats Opérateurs), the MAN platform public access service used to access STI certificates.

    # History

    **1.7.1** - 2025/06/05
    - (Certificates) Update serial_number min size limit to 16 characters
    - (CallTraces) GET /calltraces - new query parameters `provider_disengagement`, `exclude_self_author` and `search_type`
    - (Certificates) GET /certificates - add `provider_code` property as allowed sort criteria
    - (Certificates) Add `issuer_dn` and `renewed_by` in certificate data model
    - (Meteo) Increase `long_description` maximum size for meteo event from 1000 to 5000 characters
    - (Providers) GET /providers/referential - give access to supervisor users
    - (Providers) GET /providers/referential - add technical number in CSV response
    - (Providers) GET /ticket - add `modification_date` property as allowed sort criteria
    - (Tickets) New GET /ticket/export API to export tickets
    - (Tickets) `author_ticket_internal_id` is now updatable
    - (Tickets) new properties available in data model

    **1.7.0** - 2024/09/09
    - First release
servers:
  - url: https://api.man-plateforme.fr/
    description: Production platform
  - url: https://api.pprod.man-plateforme.fr/
    description: Preproduction platform
  - url: https://api.vabf.man-plateforme.fr/
    description: VABF platform
tags:
  - name: Call Traces
    description: |
      Call traces are provided by service providers to identity calls
      that seem legitimate to be broken due to invalid STIR SHAKEN implementation.

      These traces are accessible only to the service providers identified
      in the trace as being playing a role in the call transmission (signatory, transit, termination, etc...)
  - name: Monitored SIP Interconnections
    description: |
      Creation and management APIs for SIP Interconnections between service providers.
  - name: MAN Weather Reports
    description: |
      MAN platform weather reports can be generated by the platform itself or a service
      provider to respectively identify issues on the platform with a potential impact
      on normal operations, and issues on the service provider side leading to disengage
      the STIR-SHAKEN signature process of their calls.
  - name: Providers
    description: |
      Service provider registration, authorization and data management APIs.

      While most of these APIs can only be accessed by the MAN platform administrators
      to create and authorize service providers, these latter have access to a subset
      for updating their organization settings and reviewing their authorization status & history.
  - name: History
    description: |
      Platform activity logs access and search APIs.

      These APIs give service providers a way to have access and review actions performed by their users
      within the platform.
  - name: Users
    description: |
      User creation and management APIs.
  - name: Tickets
    description: |
      Tickets are created by a service provider to another provider to let
      the latter know of a potential issue of their STIR-SHAKEN implementation
      that needs to be investigated as soon as possible.

      Tickets are therefore the official communication way between service providers
      to discuss and resolve STIR-SHAKEN issues.
  - name: API Credentials
    description: |
      API credentials creation and management APIs.

      API credentials are required in the API authentication process for requesting access tokens.
      Refer to the *MAN Platform Authentication API Reference* on how these credentials are used.
  - name: STI Certificates
    description: |
      STI certificates creation and management APIs.

      These APIs provide to service providers a full control of their STI certificates, with
      support of functionalities like certificate renewal, revocation and delegation.
  - name: STI Certificates (Archived)
    description: |
      STI certificates access APIs.

      3 months after their expiration, STI certificates are automatically archived by the platform
      and removed from the list of certificates. For tracking and forensics purposes, they however remain
      available for 3 years in a dedicated list, after which they are deleted
      once for all from the platform.

      These APIs just provide read-only access; no updates are allowed on certificates once archived.
  - name: BPCO
    description: |
      APIs related to BPCO (Base Publique des Certificats Opérateurs), the MAN platform public access
      service to STI certificates.

      These APIs provide access to metadata and download facilities to objects
      published in the BPCO, like STI certificates and CRLs.
paths:
  /calltraces:
    get:
      summary: Retrieve a paginated list of records with support of sorting & filtering
      description: |
        The API applies any sort and filter preferences passed to the API request and returns a
        paginated list of corresponding results.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - *ADMINISTRATOR*, *MANAGER* and *SUPERVISOR* users can access any trace attached to their
          provider (as `author_provider`, `optv`, `opts`,`egress_provider`, `terminating_provider`,
          `signatory_provider` or `ingress_provider`).
      operationId: SearchTraces
      tags:
        - Call Traces
      parameters:
        - in: query
          name: query
          description: |
            Filter on a property following the format `operator:value`.

            If the operator is `eq`, it can be ignored.

            For string, number, date-time or enum property:
            * `eq` and `ne` = (not) equal.

            For string property only:
            * `match` and `not_match` = (not) match the wildcard pattern (`*` for zero or more
              characters and `?` for a single character) contains in `value`.

            For number or date-time property:
            * `gt` and `gte` = greater than (or equal).
            * `lt` and `lte` = less than (or equal).

            In any case, `value` must be percent encoded.

            The parameter name is one of the following values:
             - `author_provider`
             - `author_provider_role`
             - `provider`
             - `searched_provider` (only for *MAN_ADMINISTRATOR* and *APNF* users)
             - `searched_provider_role`
             - `optv`
             - `opts`
             - `egress_provider`
             - `terminating_provider`
             - `signatory_provider`
             - `ingress_provider`
             - `displayed_number_type`
             - `called_number_type`
             - `start_call_timestamp`
             - `broken_call`
             - `identity_header`
             - `sip_reject_code`
             - `sip_reject_subcode`
             - `attestation`
             - `emergency_call`
             - `displayed_number`
             - `pai`
             - `called_number`
             - `provider_disengagement` (Yes/No value)
             - `exclude_self_author` (Yes/No value)
             - `search_type` (empty, `sip_428` or `disengaged`)

            If the `searched_provider` is used (only for *MAN_ADMINISTRATOR* and *APNF* users), the
            request will return any traces where the `searched_provider` is the `author_provider`,
            the `optv`, the `opts`, the `egress_provider`, the `terminating_provider`, the `signatory_provider`
            or the `ingress_provider` until the `searched_provider_role` is used.
            If `searched_provider_role` is used, the request will return any traces where the
            `searched_provider` has the role present into `searched_provider_role`
            (`author_provider`, `optv`, `opts`, `egress_provider`, `terminating_provider`,
            `signatory_provider` or `ingress_provider`).
            If the `exclude_self_author` is used, the request will return any trace where the `author_provider` is
            different from the current user's provider.
            If `search_type` is set to `sip_428`, the request will return traces from ANY provider where `sip_reject_code` equals `428`.
            If `search_type` is set to `disengaged`, the request will return traces from ANY provider where `provider_disengagement` equals `Yes`.
          schema:
            additionalProperties:
              type: string
              pattern: ^((eq|ne|(not_)?match|[lg]te?):)?.+$
            example:
              author_provider: OPC000
              start_call_timestamp: gte:2022-01-01T00:00:00Z
            type: object
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - name: sort
          in: query
          description: |
            Sort preference using the format `property_name:order`, where:
            - `property_name` is one of the following values:
              - `author_provider`
              - `provider`
              - `signatory_provider`
              - `start_call_timestamp`
              - `broken_call`
              - `identity_header`
              - `sip_reject_code`
              - `attestation`
              - `emergency_call`

            - `order` may be set to `asc` or `desc`.
          schema:
            example: start_call_timestamp:asc
            pattern: ^((author_|signatory_|)provider|start_call_timestamp|broken_call|identity_header|sip_reject_code|attestation|emergency_call)(:(([Aa]|[Dd][Ee])[Ss][Cc]))?$
            type: string
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return a paginated list of records
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
          content:
            application/json:
              schema:
                properties:
                  metadata:
                    $ref: '#/components/schemas/PaginationMetaData'
                  traces:
                    items:
                      $ref: '#/components/schemas/TraceSummaryView'
                    type: array
                type: object
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /calltraces/{trace_id}:
    get:
      summary: Return traces details
      description: |
        Return a JSON object with trace details.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - *ADMINISTRATOR*, *MANAGER* and *SUPERVISOR* users can access any trace attached to their provider.
      operationId: GetTrace
      tags:
        - Call Traces
      parameters:
        - in: path
          name: trace_id
          description: ID of the trace.
          required: true
          schema:
            $ref: '#/components/schemas/TraceId'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return the JSON object with trace properties.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trace'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /ism:
    get:
      summary: Retrieve a paginated list of records with support of sorting & filtering
      description: |
        The API applies any sort and filter preferences passed to the API request and returns a paginated list of
        corresponding results.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - *ADMINISTRATOR*, *MANAGER* and *SUPERVISOR* users can access any monitored SIP interconnections attached to their provider.
      operationId: SearchIsm
      tags:
        - Monitored SIP Interconnections
      parameters:
        - name: query
          in: query
          description: |
            Filter on a property following the format `operator:value`.

            If the operator is `eq`, it can be ignored.

            For string, number or date-time property:
            * `eq` and `ne` = (not) equal.
            In any case, `value` must be percent encoded.

            The parameter name is one of the following values:
             - `provider_emitter_code`
             - `provider_emitter_status`
             - `provider_receiver_code`
             - `provider_receiver_status`
          schema:
            type: object
            additionalProperties:
              type: string
              pattern: ^(((eq|ne|(not_)?match|[lg]te?):)?.+|(in|not_in):\[.+(,.+)*\])$
            example:
              provider_emitter_code: OPC000
              provider_emitter_status: eq:MAN
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return a paginated list of records
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/PaginationMetaData'
                  interconnections:
                    type: array
                    items:
                      $ref: '#/components/schemas/ISMSummaryView'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      summary: Initiate the creation of a monitored SIP interconnection
      description: |
        Initiate the creation of a new monitored SIP interconnection. Shall always be called by the provider emitter of the interconnection.
        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*
      operationId: CreateIsm
      tags:
        - Monitored SIP Interconnections
      parameters:
        - $ref: '#/components/parameters/X-Request-Id'
      requestBody:
        description: ISM details
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - provider_emitter_status
                - provider_receiver_code
                - provider_receiver_status
              properties:
                provider_emitter_status:
                  type: string
                  description: |
                    The status of the provider emitter
                  example: FULL MAN
                provider_receiver_code:
                  type: string
                  description: |
                    The code of the provider receiver
                  pattern: ^([0-9A-Z]{6})$
                  example: SPB000
                provider_receiver_status:
                  type: string
                  description: |
                    Default value = "NOT MAN"
                    - Can be set if the status of the emitting provider is different from "NOT MAN"
                  example: FULL MAN
                interconnection_description:
                  type: string
                  description: |
                    Change the description of the interconnection
                  example: Une nouvelle description
      responses:
        '201':
          description: Confirms the creation of the new monitored SIP interconnection properties and contents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ISMSummaryView'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /ism/export:
    get:
      summary: Return monitored SIP interconnections list in CSV format
      description: |
        Allows you to return, in CSV format, the list of monitored interconnections

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - *ADMINISTRATOR*, *MANAGER* and *SUPERVISOR* users can access any monitored SIP interconnection attached to their provider.
      operationId: ExportIsm
      tags:
        - Monitored SIP Interconnections
      parameters:
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return monitored SIP interconnections list in csv format
          content:
            text/csv:
              example: |
                ID;provider_emitter_code;provider_emitter_status;date_last_update_emitter;provider_receiver_code;provider_receiver_status;date_last_update_receiver;creation_date;interconnection_description
                2f211b73-4a09-9830-b6e4-064f39399c36;GAMMA0;PARTIAL_MAN;2023-05-24T09:39:44;GAMMA1;NOT_MAN;2023-05-24T09:39:44;2023-05-24T09:39:44;Description
              schema:
                type: string
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /ism/{ism_id}:
    delete:
      summary: Delete monitored SIP interconnection
      description: |
        *Warning*: the action cannot be undone.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - *ADMINISTRATOR*, *MANAGER* and *SUPERVISOR* users can delete any monitored SIP interconnection attached to their provider and by a provider emitter.
      operationId: DeleteIsm
      tags:
        - Monitored SIP Interconnections
      parameters:
        - name: ism_id
          in: path
          description: ID of the interconnection.
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '204':
          description: Confirms successful processing
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
    get:
      summary: Return monitored SIP interconnection details
      description: |
        Return a JSON object with monitored SIP interconnection details and contents.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - *ADMINISTRATOR*, *MANAGER* and *SUPERVISOR* users can access any monitored SIP interconnection attached to their provider.
      operationId: GetIsm
      tags:
        - Monitored SIP Interconnections
      parameters:
        - name: ism_id
          in: path
          description: ID of the interconnection.
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return the JSON object with monitored SIP interconnection properties and contents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ISMSummaryView'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      summary: Update interconnection properties
      description: |
        Update interconnection properties. Only a subset of the interconnection properties can be updated and depending on the status of the provider's interconnection.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR* users can update any interconnection created by/for their provider.
      operationId: UpdateIsm
      tags:
        - Monitored SIP Interconnections
      parameters:
        - name: ism_id
          in: path
          description: ID of the interconnection.
          required: true
          schema:
            $ref: '#/components/schemas/UUID'
        - $ref: '#/components/parameters/X-Request-Id'
      requestBody:
        required: true
        description: |
          A [JSON Merge Patch (RFC 7386)](https://datatracker.ietf.org/doc/html/rfc7386) containing only the properties
          that must be updated (with the new value) or deleted (with null as value).
        content:
          application/merge-patch+json:
            schema:
              type: object
              properties:
                provider_emitter_status:
                  type: string
                  description: |
                    Change the status of the provider emitter
                    - Can only be changed by the provider emitter
                  example: FULL MAN
                provider_receiver_status:
                  type: string
                  description: |
                    Change the status of the provider receiver
                    - Can only be changed by the provider receiver if the status of the emitting provider is different from "Non MAN"
                  example: FULL MAN
                interconnection_description:
                  type: string
                  description: |
                    Change the description of the interconnection
                  example: Une nouvelle description
      responses:
        '200':
          description: Return the JSON object with monitored SIP interconnection properties and contents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ISMSummaryView'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /meteo:
    get:
      summary: Return a list of meteo events matching the filters
      description: |
        The API applies any sort and filter preferences passed to the API request and returns a paginated list of
        corresponding results.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - Anyone with access to the interface can read the events
      operationId: ListMeteos
      tags:
        - MAN Weather Reports
      parameters:
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - name: query
          in: query
          description: |
            Filter on a property following the format `operator:value`.

            If the operator is `eq`, it can be ignored.

            For string, number or date-time property:
            * `eq` and `ne` = (not) equal.
            * `in` and `not_in` = (not) in a list. `value` contains an array such as `[val1,val2,val3]`.

            For string property only:
            * `match` and `not_match` = (not) match the wildcard pattern (`*` for zero or more characters and `?` for a
              single character) contains in `value`.

            For number or date-time property:
            * `gt` and `gte` = greater than (or equal).
            * `lt` and `lte` = less than (or equal).
            * `gtn` and `gten` = null or greater than (or equal).
            * `ltn` and `lten` = null or less than (or equal).

            For multi-valued strings:
            * `has` = has at least the specified `value` in the multi-valued field

            In any case, `value` must be percent encoded.

            The parameter name is one of the following values:
             - `criticality`
             - `tags`
             - `start_date`
             - `end_date`
             - `provider_author_apnf_code`
          schema:
            type: object
            additionalProperties:
              type: string
              pattern: ^(((eq|ne|(not_)?match|[lg]te?n?|has):)?.+|(in|not_in):\[.+(,.+)*\])$
            example:
              status: ENABLED
              authorization_date: gte:2022-01-01T00:00:00Z
        - name: sort
          in: query
          description: |
            Sort preference using the format `property_name:order`, where:
            * `property_name` is one of the following values:
             - `criticality`
             - `start_date`
             - `end_date`
             - `provider_author_apnf_code`

            * `order` may be set to `asc` or `desc`.
          schema:
            type: string
            pattern: ^(criticality|(start|end)_date|provider_author_apnf_code):(([Aa]|[Dd][Ee])[Ss][Cc])$
            example: start_date:asc
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return a paginated list of records
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/PaginationMetaData'
                  meteos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Meteo'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      summary: Create a new meteo event
      description: |
        Create a new event.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - Any user can create new events.
      operationId: CreateMeteo
      tags:
        - MAN Weather Reports
      parameters:
        - $ref: '#/components/parameters/X-Request-Id'
      requestBody:
        description: Meteo event details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeteoForCreation'
      responses:
        '201':
          description: |
            Confirms the creation of the new event and returns its details in the response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meteo'
              examples:
                ticket:
                  $ref: '#/components/examples/MeteoCreation'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /meteo/{meteo_id}:
    get:
      summary: Return details of a meteo event
      description: |
        Return a JSON object with meteo event details
        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - Any user can read the events
      operationId: GetMeteo
      tags:
        - MAN Weather Reports
      parameters:
        - name: meteo_id
          in: path
          description: reference id to the meteo (integer).
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return the JSON object with ticket details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meteo'
              examples:
                ticket:
                  $ref: '#/components/examples/Meteo'
                ticket_disengagement:
                  $ref: '#/components/examples/MeteoDisengagement'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      summary: Update a meteo event
      description: |
        Update a meteo event, for example to add an end date
        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR* can modify events created by their provider
      operationId: UpdateMeteo
      tags:
        - MAN Weather Reports
      parameters:
        - name: meteo_id
          in: path
          description: reference id to the meteo (integer).
          required: true
          schema:
            type: integer
        - $ref: '#/components/parameters/X-Request-Id'
      requestBody:
        required: true
        description: |
          A [JSON Merge Patch (RFC 7386)](https://datatracker.ietf.org/doc/html/rfc7386) containing only the properties
          that must be updated (with the new value) or deleted (with null as value).
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/MeteoPatch'
            examples:
              UpdateMeteo:
                $ref: '#/components/examples/MeteoPatch'
      responses:
        '200':
          description: Confirms successful processing and returns updated event in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meteo'
              examples:
                Meteo:
                  $ref: '#/components/examples/Meteo'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /providers/referential:
    get:
      summary: Retrieve a listing of all service providers in .csv format.
      description: |
        Provides listing of both MAN and non-MAN service providers in .csv format.

        The file contains the following items for each provider, with headers at first line:
          - ARCEP code (string)
          - APNF code as (string)
          - a label related to the provider (string)
          - whether or not the provider subscribed to MAN (boolean)

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*
      operationId: GetProvidersReferential
      tags:
        - Providers
      parameters:
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return providers's informations in csv format.
          content:
            text/csv:
              schema:
                type: string
              example: |
                arcep_code;apnf_code;label;subscription;technical_number
                GAMMA0;GAMMA0;Provider Label;true;+33102030405
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /providers/{provider_id}:
    get:
      summary: Return provider details
      description: |
        Return a JSON object with provider details.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - *ADMINISTRATOR*, *MANAGER* and *SUPERVISOR* users can only access details of their provider.
      operationId: GetProvider
      tags:
        - Providers
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return a JSON object with provider details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
              examples:
                Provider Details:
                  $ref: '#/components/examples/ProviderDetails'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      summary: Update provider properties
      description: |
        Update provider properties. Deleted providers cannot be updated.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*

        - *ADMINISTRATOR* and *MANAGER* users can update properties of their own provider. Only a subset of the provider properties can be updated by these users.
      operationId: UpdateProvider
      tags:
        - Providers
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/X-Request-Id'
      requestBody:
        required: true
        description: |
          A [JSON Merge Patch (RFC 7386)](https://datatracker.ietf.org/doc/html/rfc7386) containing only the properties
          that must be updated (with the new value) or deleted (with null as value).
        content:
          application/merge-patch+json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: |
                    Change the provider status. Only possible values are `ENABLED` and `DISABLED`.
                    - Only *MAN_ADMINISTRATOR* and *APNF* users can update this property
                    - Cannot be deleted.
                  enum:
                    - ENABLED
                    - DISABLED
                name:
                  type: string
                  maxLength: 64
                  description: |
                    Change the provider name
                    - Only *MAN_ADMINISTRATOR* and *APNF* users can update this property
                    - Cannot be deleted.
                  example: Opérateur
                address:
                  type: string
                  maxLength: 255
                  description: |
                    Change the provider HQ address
                    - *MAN_ADMINISTRATOR*, *ADMINISTRATOR* and *APNF* users can update this property
                    - Cannot be deleted.
                  example: 30, rue de Paris 75018 Paris
                technical_number:
                  type: string
                  maxLength: 15
                  description: |
                    Change the provider technical phone number
                    - *MAN_ADMINISTRATOR*, *ADMINISTRATOR* and *APNF* users can update this property
                    - Can be deleted.
                signatory:
                  type: boolean
                  description: |
                    Change the provider signatory flag
                    - Only *MAN_ADMINISTRATOR* and *APNF* users can update this property
                    - Cannot be deleted.
                  default: true
                opts:
                  type: string
                  description: |
                    Change the provider opts flag
                    - Only *MAN_ADMINISTRATOR* and *APNF* users can update this property
                    - Cannot be deleted.
                opts_contracts:
                  type: array
                  description: |
                    Change the list of providers allowed to select this provider as OPTS.
                    - *MAN_ADMINISTRATOR*, *ADMINISTRATOR*, *MANAGER* and *APNF* users can update this property
                    - Can be deleted.
                  items:
                    $ref: '#/components/schemas/ProviderCode'
                legal_administrator:
                  description: |
                    UUID of the user account to change the provider legal administrator
                  $ref: '#/components/schemas/UUID'
                global_notification_list:
                  description: |
                    Change the list of email addresses for the provider 'global' notification list.
                    - *MAN_ADMINISTRATOR*, *ADMINISTRATOR* and *APNF* users can update this property
                    - Can be deleted.
                  type: array
                  items:
                    $ref: '#/components/schemas/EmailAddress'
                legal_notification_list:
                  description: |
                    Change the list of email addresses for the provider 'legal' notification list.
                    - *MAN_ADMINISTRATOR*, *ADMINISTRATOR* and *APNF* users can update this property
                    - Can be deleted.
                  type: array
                  items:
                    $ref: '#/components/schemas/EmailAddress'
                certificate_notification_list:
                  description: |
                    Change the list of email addresses for the provider 'certificate' notification list.
                    - *MAN_ADMINISTRATOR*, *ADMINISTRATOR* and *APNF* users can update this property
                    - Can be deleted.
                  type: array
                  items:
                    $ref: '#/components/schemas/EmailAddress'
                ticketing_notification_list:
                  description: |
                    Change the list of email addresses for the provider 'ticketing' notification list.
                    - *MAN_ADMINISTRATOR*, *ADMINISTRATOR* and *APNF* users can update this property
                    - Can be deleted.
                  type: array
                  items:
                    $ref: '#/components/schemas/EmailAddress'
                deposit_notification_list:
                  description: |
                    Change the list of email addresses for the provider 'deposit' notification list.
                    - *MAN_ADMINISTRATOR*, *ADMINISTRATOR* and *APNF* users can update this property
                    - Can be deleted.
                  type: array
                  items:
                    $ref: '#/components/schemas/EmailAddress'
                ticket_notification_active:
                  description: |
                    Change the flag to receive ticket notifications.
                    - *MAN_ADMINISTRATOR*, *ADMINISTRATOR* and *APNF* users can update this property
                    - Can be deleted.
                  type: boolean
                  example: true
                sftp_allowed_keys:
                  type: array
                  description: |
                    Change the SSH public keys allowed to access the platform SFTP service created for the provider.
                    - *MAN_ADMINISTRATOR*, *ADMINISTRATOR* and *APNF* users can update this property
                    - All values shall be passed when updating the property
                    - Can be deleted.
                  items:
                    type: string
                    maxLength: 1024
                    description: SSH public key contents
                    example: ssh-rsa AAAAB3NzaC...p5CSsDJ SI@host-4527
                sftp_allowed_ips:
                  type: array
                  description: |
                    Change the list of IPv4 addresses to be allowed to connect to the SFTP BSM service.
                    - *MAN_ADMINISTRATOR*, *ADMINISTRATOR* and *APNF* users can update this property
                    - All values shall be passed when updating the property
                    - Can be deleted.
                  items:
                    type: string
                    description: IPv4 address
                    format: ipv4
                    pattern: ^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.){3}(25[0-5]|(2[0-4]|1\d|[1-9]|)\d)$
                    example: 127.0.0.1
                languages:
                  type: array
                  description: |
                    Change the list of languages to be proposed to the provider users for the platform UI.
                    - *MAN_ADMINISTRATOR*, *ADMINISTRATOR* and *APNF* users can update this property
                    - All values shall be passed when updating the property
                    - Cannot be deleted.
                  items:
                    $ref: '#/components/schemas/Language'
                  example:
                    - FRENCH
                    - ENGLISH
                authentication_mode:
                  type: string
                  description: |
                    Change the mode to be used to authenticate provider user accounts.
                    - *MAN_ADMINISTRATOR*, *ADMINISTRATOR* and *APNF* users can update this property
                    - Cannot be deleted.
                  enum:
                    - SSO
                    - MFA
                  default: MFA
                  example: SSO
                sso_settings:
                  type: object
                  description: |
                    Change the Single Sign-On configuration.
                    - *MAN_ADMINISTRATOR*, *ADMINISTRATOR* and *APNF* users can update this property
                    - To be used only when `authentication_mode` is set to `SSO`.
                    - All values shall be passed when updating the property
            examples:
              ProviderUpdateRequestByManAdministrator:
                $ref: '#/components/examples/ProviderUpdateRequestByManAdministrator'
              ProviderUpdateRequestByAdministrator:
                $ref: '#/components/examples/ProviderUpdateRequestByAdministrator'
      responses:
        '200':
          description: Confirms successful processing and return the provider properties in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Provider'
              examples:
                Successful response with provider properties:
                  $ref: '#/components/examples/ProviderDetails'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /providers/{provider_id}/bypass_token:
    get:
      summary: Retrieve a paginated list of bypass tokens created for the provider.
      description: |
        The API applies any sort preferences passed to the API request and returns a paginated list of corresponding results.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*
      operationId: ListProviderBypassTokens
      tags:
        - Providers
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return a list of bypass tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/PaginationMetaData'
                  bypass_tokens:
                    type: array
                    items:
                      $ref: '#/components/schemas/BypassToken'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      summary: Generate new provider bypass token
      description: |
        Create a new provider bypass token. The previous token will be archived.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*

        - *ADMINISTRATOR*, *MANAGER* can generate bypass token for their own provider.
      operationId: GenerateProviderBypassToken
      tags:
        - Providers
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return a JSON object with a single `id` property containing the bypass token value.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BypassTokenCreationResponse'
              examples:
                Successful response with bypass token details:
                  $ref: '#/components/examples/BypassTokenCreationResponse'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /providers/{provider_id}/history:
    get:
      summary: Retrieve activity history on the provider
      description: |
        Retrieve a paginated list of all actions performed on the provider.
        Sorting and filtering are not supported for this API.


        **Allowed Roles**: *ADMINISTRATOR*

        - *ADMINISTRATOR* can only access the history of its own provider.
      operationId: GetProviderHistory
      tags:
        - History
        - Providers
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return a paginated list of history records
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/PaginationMetaData'
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/History'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /providers/{provider_id}/verification:
    get:
      summary: Return the details for a provider verification
      description: |
        Return the details for a provider verification

        **Allowed Roles**: *ADMINISTRATOR*

        - *ADMINISTRATOR* users can view their own provider verification.
      operationId: GetProviderVerification
      tags:
        - Providers
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return the provider verification details
          content:
            application/json:
              schema:
                description: |
                  Provider authorization status.
                  A provider shall be authorized in order to request the generation of certificates.
                  Once authorized, a provider shall also be authorized back each year.
                properties:
                  appointments:
                    description: When the meeting can be scheduled
                    items:
                      type: string
                      format: date-time
                    maxItems: 3
                    minItems: 3
                    type: array
                  contact:
                    $ref: '#/components/schemas/ProviderVerificationContact'
                  date_next_validation_meeting:
                    description: When the meeting is scheduled
                    format: date-time
                    type: string
                  details:
                    description: What details were verified
                    properties:
                      contact_email_verified:
                        description: Whether or not the administrator mail was verified
                        type: boolean
                      contact_identity_verified:
                        description: Whether or not the administrator identity was verified
                        type: boolean
                      contact_phone_verified:
                        description: Whether or not the administrator phone was verified
                        type: boolean
                      global_notification_list_verified:
                        description: Whether or not the global mailing list was verified
                        type: boolean
                      legal_notification_list_verified:
                        description: Whether or not the legal mailing list was verified
                        type: boolean
                      provider_address_verified:
                        description: Whether or not the provider address was verified
                        type: boolean
                      provider_name_verified:
                        description: Whether or not the provider name was verified
                        type: boolean
                  provider:
                    type: object
                    properties:
                      address:
                        description: the physical address of the provider
                        type: string
                      code:
                        allOf:
                          - description: APNF code of the provider
                          - $ref: '#/components/schemas/ProviderCode'
                      global_notification_list:
                        items:
                          $ref: '#/components/schemas/EmailAddress'
                        minItems: 1
                        type: array
                      id:
                        allOf:
                          - description: ID of the provider
                          - $ref: '#/components/schemas/UUID'
                      legal_notification_list:
                        items:
                          $ref: '#/components/schemas/EmailAddress'
                        minItems: 1
                        type: array
                      name:
                        description: Name of the provider
                        type: string
                      status:
                        allOf:
                          - description: Status of the provider
                          - $ref: '#/components/schemas/ProviderStatus'
                    required:
                      - address
                      - code
                      - global_notification_list
                      - id
                      - legal_notification_list
                      - name
                      - status
                  secret:
                    allOf:
                      - $ref: '#/components/schemas/ProviderVerificationSecret'
                      - description: The shared secret as proof of verification (MAN_VALIDATOR)
                  status:
                    description: Status of the verification
                    enum:
                      - HOLD
                      - TO_SCHEDULE
                      - SCHEDULED
                      - VALIDATED
                      - DOUBTFUL
                    type: string
                  ticket_number:
                    description: The ticket number from NSDC when the provider sent his appointments
                    type: integer
                  valid_until:
                    description: When the provider must be verified before
                    type: string
                    format: date-time
                required:
                  - provider
                  - status
                type: object
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /providers/{provider_id}/verification/appointments:
    post:
      summary: Set appointments for a provider verification
      description: |
        Set appointments for a provider verification

        **Allowed Roles**: *ADMINISTRATOR*
      operationId: UpdateProviderVerificationAppointmentsStep
      tags:
        - Providers
      parameters:
        - $ref: '#/components/parameters/ProviderId'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '204':
          $ref: '#/components/responses/SuccessNoMessage'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                appointments:
                  description: When the meeting can be scheduled
                  items:
                    format: date-time
                    type: string
                  maxItems: 3
                  minItems: 3
                  type: array
                contact:
                  $ref: '#/components/schemas/ProviderVerificationContact'
              required:
                - appointments
                - contact
              type: object
        description: Data to be set suggesting appointments for the provider verification
        required: true
  /users:
    post:
      summary: Create a new user
      description: |
        Create a new user account.

        **Allowed Roles**: *ADMINISTRATOR*

        - *ADMINISTRATOR* users can create *MANAGER* and *SUPERVISOR* accounts associated to their own provider.
      operationId: CreateUser
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/X-Request-Id'
      requestBody:
        description: Data to be set for the new user
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreationRequest'
            examples:
              UserCreationRequestByManAdministrator:
                $ref: '#/components/examples/UserCreationRequestByManAdministrator'
              ProviderUserCreationRequestByManAdministrator:
                $ref: '#/components/examples/ProviderUserCreationRequestByManAdministrator'
              ProviderUserCreationRequestByAdministrator:
                $ref: '#/components/examples/ProviderUserCreationRequestByAdministrator'
      responses:
        '201':
          description: |
            Confirms the creation of the account and returns its properties in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                ApnfUserCreationResponse:
                  $ref: '#/components/examples/ApnfUserCreationResponse'
                ProviderUserCreationResponse:
                  $ref: '#/components/examples/ProviderUserCreationResponse'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      summary: Retrieve a paginated list of records with support of sorting & filtering
      description: |
        The API applies any sort and filter preferences passed to the API request and returns a paginated list of
        corresponding results.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - *ADMINISTRATOR*, *SUPERVISOR* and *MANAGER* users can access any user of their provider.
      operationId: SearchUsers
      tags:
        - Users
      parameters:
        - name: query
          in: query
          description: |
            Filter on a property following the format `operator:value`.

            If the operator is `eq`, it can be ignored.

            For string, number or date-time property:
            * `eq` and `ne` = (not) equal.
            * `in` and `not_in` = (not) in a list. `value` contains an array such as `[val1,val2,val3]`.

            For string property only:
            * `match` and `not_match` = (not) match the wildcard pattern (`*` for zero or more characters and `?` for a
              single character) contains in `value`.

            For number or date-time property:
            * `gt` and `gte` = greater than (or equal).
            * `lt` and `lte` = less than (or equal).

            In any case, `value` must be percent encoded.

            The parameter name is one of the following values:
             - `id`
             - `provider_id` (only for *MAN_ADMINISTRATOR* and *APNF* users)
             - `firstname`
             - `lastname`
             - `email_address`
             - `language`
             - `role`
             - `status`
             - `deleted`
             - `last_connected_at`
             - `created_at`
             - `updated_at`
             - `deleted_at`
          schema:
            type: object
            additionalProperties:
              type: string
              pattern: ^(((eq|ne|(not_)?match|[lg]te?):)?.+|(in|not_in):\[.+(,.+)*\])$
            example:
              status: ENABLED
              created_at: gte:2022-01-01T00:00:00Z
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - name: sort
          in: query
          description: |
            Sort preference using the format `property_name:order`, where:
            - `property_name` is one of the following values:
             - `id`
             - `provider_id` (only for *MAN_ADMINISTRATOR* and *APNF* users)
             - `firstname`
             - `lastname`
             - `email_address`
             - `role`
             - `status`
             - `last_connected_at`
             - `created_at`
             - `updated_at`
             - `deleted_at`

            - `order` may be set to `asc` or `desc`.
          schema:
            type: string
            pattern: ^(id|provider_id|(first|last)name|email_address|mobile_phone|language|role|status|deleted|last_connected_at|(crea|upda|dele)ted_(at|by)):(([Aa]|[Dd][Ee])[Ss][Cc])$
            example: firstname:asc
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return a paginated list of records
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/PaginationMetaData'
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserSummaryView'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /users/{user_id}:
    get:
      summary: Return user details
      description: |
        Return a JSON object with user details.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - *ADMINISTRATOR*, *SUPERVISOR* and *MANAGER* users can access any user belonging to their provider.
      operationId: GetUser
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return a JSON object with user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                ProviderUser:
                  $ref: '#/components/examples/ProviderUser'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      summary: Update user properties
      description: |
        Update user properties. Deleted users cannot be updated.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - *ADMINISTRATOR* users can update properties of all accounts belonging to their provider.
        - In all cases, when editing its own account, a user is limited to a subset of properties.
      operationId: UpdateUser
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/X-Request-Id'
      requestBody:
        required: true
        description: |
          A [JSON Merge Patch (RFC 7386)](https://datatracker.ietf.org/doc/html/rfc7386) containing only the properties
          that must be updated (with the new value). No properties can be deleted.
        content:
          application/merge-patch+json:
            schema:
              type: object
              properties:
                firstname:
                  type: string
                  maxLength: 64
                  description: |
                    Change the user first name
                    - A user can update this property for its own account
                    - Cannot be deleted.
                  example: Jane
                lastname:
                  type: string
                  maxLength: 64
                  description: |
                    Change the user last name
                    - A user can update this property for its own account
                    - Cannot be deleted.
                  example: Doe
                email_address:
                  type: string
                  maxLength: 254
                  format: email
                  description: |
                    Change the user email address
                    - A user can update this property for its own account
                    - Cannot be deleted.
                  example: jane.doe@my.company
                mobile_phone:
                  type: string
                  maxLength: 20
                  description: |
                    Change the user mobile phone number
                    - A user can update this property for its own account
                    - Cannot be deleted.
                  example: '06123456789'
                language:
                  allOf:
                    - $ref: '#/components/schemas/Language'
                    - description: |
                        Change the user language preference
                        - A user can update this property for its own account
                        - The list of languages available to the user depends on the provider configuration.
                        - Cannot be deleted.
                role:
                  allOf:
                    - $ref: '#/components/schemas/UserRole'
                    - description: |
                        Change the user role
                        - A user cannot update this property for its own account
                        - Can be updated by ADMINISTRATOR users for accounts belonging to their provider
                        - Can be updated by MAN_ADMINISTRATOR users for MAN_ADMINISTRATOR and APNF accounts.
                        - Cannot be deleted.
                status:
                  type: string
                  description: |
                    Change the user status. Only possible values are `ENABLED` and `DISABLED`.
                    - A user cannot update this property for its own account
                    - Can be updated by ADMINISTRATOR users for accounts belonging to their provider
                    - Can be updated by MAN_ADMINISTRATOR users for MAN_ADMINISTRATOR and APNF accounts
                    - Cannot be deleted.
                  enum:
                    - ENABLED
                    - DISABLED
            examples:
              UserPersonalUpdateRequest:
                $ref: '#/components/examples/UserPersonalUpdateRequest'
              UserUpdateRequest:
                $ref: '#/components/examples/UserUpdateRequest'
      responses:
        '200':
          description: Confirms successful processing and return the user properties in the response.
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                ProviderUser:
                  $ref: '#/components/examples/ProviderUser'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '409':
          description: Error returned when the user is deleted.
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                properties:
                  code:
                    type: string
                    description: Error code. Shall be capitalized with underscore.
                    example: CONFLICT
                  message:
                    type: string
                    description: Message providing more details and context for error that occurred
                    example: The user is deleted.
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      summary: Delete a user
      description: |
        Once deleted, the user will not anymore be able to access the platform.

        Note this is a soft-delete operation; the user will be effectively removed after 3 months,
        and during that period a rollback of the delete action is possible using the `POST /users/{user_id}/undelete`
        API.

        **Allowed Roles**: *ADMINISTRATOR*

        - *ADMINISTRATOR* users can delete any user belonging to their provider, except their own account.
      operationId: DeleteUser
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '204':
          $ref: '#/components/responses/SuccessNoMessage'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /users/reset-credential:
    post:
      summary: Request for new user account password or otp
      description: |
        This API triggers a user account password, OTP reset process or new account activation link, where an email is sent to the email
        address specified by the user at the origin of the request in order to access a page to
        specify a new password or OTP or also enable his account.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - *ADMINISTRATOR* users can request a new password for accounts belonging to their provider.
        - Otherwise, can be called by any user when they have forgotten their password
      operationId: ResetUserCredential
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/X-Request-Id'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  allOf:
                    - description: |
                        ID of the user to reset the password.
                        Can be used only by a ADMINISTRATOR user.
                    - $ref: '#/components/schemas/UUID'
                email_address:
                  description: |
                    Email address of the user to reset the password.
                  type: string
                  maxLength: 254
                  example: john.doe@spa.domain
                otp:
                  description: |
                    (optional) Boolean to precise if OTP is to renew. If value is not provided or false, password will be renewed.
                  type: boolean
            examples:
              PasswordResetRequestUsingEmailAddress:
                $ref: '#/components/examples/PasswordResetRequestUsingEmailAddress'
              OtpResetRequestUsingEmailAddress:
                $ref: '#/components/examples/OtpResetRequestUsingEmailAddress'
              PasswordResetRequestUsingUserId:
                $ref: '#/components/examples/PasswordResetRequestUsingUserId'
              ResendActivationLinkRequestUsingUserId:
                $ref: '#/components/examples/ResendActivationLinkRequestUsingUserId'
      responses:
        '204':
          $ref: '#/components/responses/SuccessNoMessage'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '409':
          $ref: '#/components/responses/ErrorConflict'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /users/{user_id}/history:
    get:
      summary: Retrieve activity history on users
      description: |
        Retrieve a paginated list of all actions performed on a user.
        Sorting and filtering are not supported for this API.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*

        - *ADMINISTRATOR* and *SUPERVISOR* users can access the history of any user of their provider.
        - *MANAGER* users can only access the history of its own provider.
      operationId: GetUserHistory
      tags:
        - History
        - Users
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return a paginated list of history records
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/PaginationMetaData'
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/History'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /users/{user_id}/undelete:
    post:
      summary: Cancel user deletion
      description: |
        Rollback the deletion action performed on a user.
        Upon successful processing, user will have access back to the platform.

        **Allowed Roles**: *ADMINISTRATOR*

        - *ADMINISTRATOR* users can call this API for any user of their provider, except their own account.
      operationId: UndeleteUser
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '204':
          $ref: '#/components/responses/SuccessNoMessage'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /users/{user_id}/preferences:
    get:
      summary: Return portal preferences of the user
      description: |
        Return portal preferences of the user.
        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*
      operationId: GetUserPref
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '200':
          description: Return a JSON object with user preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPref'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      summary: Update portal preferences of the user
      description: |
        Update portal preferences of the user.
        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*
      operationId: UpdateUserPref
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/X-Request-Id'
      requestBody:
        required: true
        description: |
          A [JSON Merge Patch (RFC 7386)](https://datatracker.ietf.org/doc/html/rfc7386) containing only the properties
          that must be updated (with the new value). No properties can be deleted.
        content:
          application/merge-patch+json:
            schema:
              type: object
              properties:
                pagination_limit:
                  type: integer
                  description: |
                    Default number of resources per page
                    - A user can update this property for its own account
                    - Cannot be deleted.
                  minimum: 1
                  default: 20
                  maximum: 100
                show_menu:
                  type: boolean
                  description: |
                    Default menu visibility
                    - A user can update this property for its own account
                    - Cannot be deleted.
                  default: true
      responses:
        '200':
          description: Confirms successful processing and return the portal preferences of the user in the response.
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPref'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '409':
          description: Error returned when the user is deleted.
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                properties:
                  code:
                    type: string
                    description: Error code. Shall be capitalized with underscore.
                    example: CONFLICT
                  message:
                    type: string
                    description: Message providing more details and context for error that occurred
                    example: The user is deleted.
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /ticket:
    get:
      summary: Return a list of tickets matching the filters
      description: |
        The API applies any sort and filter preferences passed to the API request and returns a paginated list of
        corresponding results.

        **Allowed Roles**: *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*
        - *ADMINISTRATOR*, *MANAGER*, *SUPERVISOR*: can retrieve tickets where they are involved.
      operationId: ListTickets
      tags:
        - Tickets
      parameters:
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - name: query
          in: query
          description: |
            Filter on a property following the format `operator:value`.

            If the operator is `eq`, it can be ignored.

            For string, number or date-time property:
            * `eq` and `ne` = (not) equal.
            * `in` and `not_in` = (not) in a list. `value` contains an array such as `[val1,val2,val3]`.

            For string property only:
            * `match` and `not_match` = (not) match the wildcard pattern (`*` for zero or more characters and `?` for a
              single character) contains in `value`.

            For number or date-time property:
            * `gt` and `gte` = greater than (or equal).
            * `lt` and `lte` = less than (or equal).
            * `gtn` and `gten` = null or greater than (or equal).
            * `ltn` and `lten` = null or less than (or equal).

            For multi-valued strings:
            * `has` = has at least the specified `value` in the multi-valued field

            In any case, `value` must be percent encoded.

            The parameter name is one of the following values:
             - `status`
             - `reference_id`
             - `issue_type`
             - `communication_type`
             - `criticality`
             - `provider_author_apnf_code`
             - `next_action_required_by`
             - `creation_date`
             - `typology_code`
          schema:
            type: object
            additionalProperties:
              type: string
              pattern: ^(((eq|ne|(not_)?match|[lg]te?n?|has):)?.+|(in|not_in):\[.+(,.+)*\])$
            example:
              status: OPEN
[...]
