openapi: 3.0.3
info:
  title: APNF MAN Platform - BND API Reference
  version: 1.8.0
  license:
    name: CC-BY-SA-4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/legalcode
  description: |
    # Introduction

    Welcome to the APNF MAN platform BND (*Base Nationale des Délégations d'affichage*) API reference.
    The APIs listed in this reference provide functionalities for service providers to manage display
    delegations on telephone numbers.

    Each provider registered with the APNF may request an access to the MAN platform and therefore these APIs.

    ## Authentication

    All APIs listed in this document require the API client to be authenticated.
    The authentication process relies on OAuth 2.0 protocol, where an access token needs
    to be passed to the API request as a JSON Web TOKEN using the Bearer `Authorization` header.

    ```
    Authorization: Bearer <JWT>
    ```

    Refer to the *MAN Platform Authorization API Reference* on how to generate access tokens. Note that in order to
    request an access token, you will first need to create an **API credential** as described in this reference.

    ## Requests & Headers

    - A Bearer `Authorization` header is required, where the Bearer token shall be set with the access token generated by the MAN platform authorization API.
    - A `X-Request-Id` header can be provided with an uuid. If provided, this header will be returned in the
    `X-Response-Id` response header.

    ## Responses & Headers

    Unless explicitly specified, all responses will use JSON for the response body format.
    The `Content-Type` header will be included in all responses to make the type explicit.

    Following headers are also included in responses:
    - `Content-Type`: format of the response, if a body is included in the response.
    - `Content-Length`: size in bytes of the response body, if a body is included in the response.
    - `X-Response-Id`: uniquely identifies the response sent to the client. It corresponds to the `X-Request-Id`
      request header if provided. Otherwise, a new value is generated,
    - `X-Correlation-Id`: ID generated by the API gateway to track the request between the different services. This
      value can be different from the `X-Response-Id` header.

    ## Search Filters

    Several APIs support filtering through query parameters. Each filter parameter accepts operators in the format `operator:value`.

    ### Available Operators

    | Operator | Applies to | Description | Example |
    |----------|-----------|-------------|---------|
    | `eq` or none | All types | Equal (default) | `status=ACTIVE` or `status=eq:ACTIVE` |
    | `ne` | All types | Not equal | `status=ne:REVOKED` |
    | `gt` | Number, Date | Greater than | `delegation_cnt=gt:10` |
    | `gte` | Number, Date | Greater than or equal | `created_at=gte:2024-01-01T00:00:00Z` |
    | `lt` | Number, Date | Less than | `delegation_cnt=lt:100` |
    | `lte` | Number, Date | Less than or equal | `created_at=lte:2024-12-31T23:59:59Z` |
    | `gtn` | Number, Date | Null or greater than | `revoked_at=gtn:2024-01-01T00:00:00Z` |
    | `gten` | Number, Date | Null or greater than or equal | `revoked_at=gten:2024-01-01T00:00:00Z` |
    | `ltn` | Number, Date | Null or less than | `revoked_at=ltn:2024-12-31T23:59:59Z` |
    | `lten` | Number, Date | Null or less than or equal | `revoked_at=lten:2024-12-31T23:59:59Z` |
    | `match` | String | Match wildcard pattern (`*` = zero or more chars, `?` = single char) | `client_internal_id=match:CLIENT-*` |
    | `not_match` | String | Does not match pattern | `client_internal_id=not_match:TEST-*` |
    | `in` | All types | In a list | `status=in:[ACTIVE,REVOKED]` |
    | `not_in` | All types | Not in a list | `status=not_in:[EXPIRED,REVOKED]` |

    **Note:** Values must be percent-encoded when containing special characters.

    ## Dates

    Unless specified, all dates exposed in this API comply with the ISO-8601 date format using UTC as the timezone.

    ## Common Error Codes

    The following error codes can be returned:

    | Error code | Description                                                             |
    |:----------:|-------------------------------------------------------------------------|
    | **400**    | The request is malformed.                                               |
    | **401**    | The authentication failed.                                              |
    | **403**    | User is not allowed to access to the resource.                          |
    | **404**    | The resource does not exist.                                            |
    | **405**    | The method is not allowed for the resource.                             |
    | **406**    | The format in the `Accept` header is not supported.                     |
    | **409**    | There is a conflict between the object status and the action requested  |
    | **415**    | The format in the `Content-Type` header is not supported.               |
    | **429**    | Too many requests have been sent by the client (see Rate Limiting).     |
    | **500**    | An unexpected error occurred while processing the request.              |
    | **503**    | The service is unavailable.                                             |

    ## Rate Limiting

    To ensure availability to all clients, concurrent accesses to this API are restricted per
    below rate limiting logic:

    - Each IP address is allowed to perform up to 600 calls during a period of 1 minute.
    - The `GET /bpco/delegation` API method has an additional restriction, limiting calls to 1 per minute.
    - Any additional call will be rejected by the API using a 429 "TOO_MANY_REQUESTS" error code


    # References

    Additional API references are also available, covering other functionalities:
    - **MAN Platform Authentication API Reference**, providing the APIs to create access tokens require to authenticate against the APIs listed in this document.
    - **MAN Platform BPCO API Reference**, listing APIs published as part of the BPCO (Base Publique des Certificats Opérateurs), the MAN platform public access service used to access STI certificates.
    - **MAN Platform GCO API Reference**, listing the MAN platform GCO (Gestionnaires des Certificats Opérateurs) module APIs, to manage service provider data in the MAN platform, including STI certificates.
    - **MAN Platform API Reference**, providing the complete set of MAN platform APIs, combining the GCO and BND APIs with all platform management APIs.

    # History

    **1.8.0** - 2026/01/29
    - Initial version
servers:
  - url: https://api.man-plateforme.fr/
    description: Production platform
  - url: https://api.pprod.man-plateforme.fr/
    description: Preproduction platform
  - url: https://api.vabf.man-plateforme.fr/
    description: VABF platform
tags:
  - name: Delegatees
    description: |
      APIs for OSP service providers to create and manage delegatees.
  - name: Display Delegation Tickets
    description: |
      Tickets that can be created related to a delegation.
  - name: Display Delegations
    description: |
      APIs for OPE service providers to create and manage display delegations and OSP service providers to review display delegations granted to them.
  - name: Display Delegations Copies
    description: |
      APIs for OSP and TSP service providers to retrieve a copy of active display delagtions to initiate and maintain a local copy.
paths:
  /delegatee:
    parameters:
      - $ref: '#/components/parameters/X-Request-Id'
    post:
      summary: API for the OSP to create a new delegatee for a client.
      description: |
        Create a new delegatee to be provided by the OSP service provider to its client.
        If request is completed successfully, the API returns as response the details of the newly created delegatee.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*

        - *ADMINISTRATOR* and users with *DELEGATION_MANAGER* role for the DISPLAY_DELEGATION context can create delegatees for their provider.
      operationId: CreateDelegatee
      tags:
        - Delegatees
      requestBody:
        description: Data to be associated to the new delegatee
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DelegateeCreationRequest'
      responses:
        '201':
          description: |
            Confirms the creation of the delegatee and returns its properties in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegateeCreationResponse'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '409':
          description: Error returned when there is already an existing delegatee with the same client_internal_id.
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                properties:
                  code:
                    type: string
                    description: Error code. Shall be capitalized with underscore.
                    example: CONFLICT
                  message:
                    type: string
                    description: Message providing more details and context for error that occurred
                    example: Delegatee already exist for '<client_internal_id>'.
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      summary: API for the OSP to review delegatees it owns.
      description: |
        The API applies any sort and filter preferences passed to the API request and returns a paginated list of corresponding results.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR* and users with *DELEGATION_MANAGER* or *DELEGATION_SUPERVISOR* role for the DISPLAY_DELEGATION context can access all delegatees created by their service provider.
      operationId: SearchDelegatees
      tags:
        - Delegatees
      parameters:
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/DelegateeIdFilter'
        - $ref: '#/components/parameters/ClientInternalIdFilter'
        - $ref: '#/components/parameters/DelegateeStatusFilter'
        - $ref: '#/components/parameters/DelegationCntFilter'
        - $ref: '#/components/parameters/DelegateeCreatedAtFilter'
        - $ref: '#/components/parameters/DelegateeRevokedAtFilter'
        - name: sort
          in: query
          description: |
            Sort preference using the format `property_name:order`, where:

            The `property_name` token is one of the following values:
             - `delegatee_id`
             - `client_internal_id`
             - `status`
             - `delegation_cnt`
             - `created_at`
             - `revoked_at`

            The `order` token may be set to `asc` or `desc`.
          schema:
            type: string
            pattern: ^(delegatee_id|client_internal_id|status|delegation_cnt|created_at|revoked_at)$
            example: created_at:desc
      responses:
        '200':
          description: Return a paginated list of records
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/PaginationMetaData'
                  delegatees:
                    type: array
                    items:
                      $ref: '#/components/schemas/Delegatee'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegatee/{delegatee_id}:
    parameters:
      - $ref: '#/components/parameters/DelegateeId'
      - $ref: '#/components/parameters/X-Request-Id'
    get:
      summary: API for the OSP to review details of a delegatee.
      description: |
        Return a JSON object with delegatee details, if a delegatee can be found with the ID passed in the request.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR* and users with *DELEGATION_MANAGER* or *DELEGATION_SUPERVISOR* role for the DISPLAY_DELEGATION context can access all delegatees created by their service provider.
      operationId: GetDelegatee
      tags:
        - Delegatees
      responses:
        '200':
          description: Return a JSON object with delegatee details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delegatee'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegatee/{delegatee_id}/revoke:
    post:
      summary: API for the OSP to revoke a delegatee it owns.
      description: |
        API to allow an OSP to revoke a delegatee it has previously created.

        *Notes*:
        - Revoking a delegatee leads to the revocation of all active display delegations created with this delegatee.
        - Delegatees already revoked cannot be revoked again.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*

        - Only *ADMINISTRATOR* and users with a *DELEGATION_MANAGER* role for the DISPLAY_DELEGATION context can revoke delegatees created by their service provider.
      operationId: RevokeDelegatee
      tags:
        - Delegatees
      parameters:
        - $ref: '#/components/parameters/DelegateeId'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '204':
          $ref: '#/components/responses/SuccessNoMessage'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '409':
          description: Error returned when the delegatee is already revoked.
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                properties:
                  code:
                    type: string
                    description: Error code. Shall be capitalized with underscore.
                    example: CONFLICT
                  message:
                    type: string
                    description: Message providing more details and context for error that occurred
                    example: The record is already revoked.
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegatee/{delegatee_id}/history:
    parameters:
      - $ref: '#/components/parameters/DelegateeId'
      - $ref: '#/components/parameters/PaginationLimit'
      - $ref: '#/components/parameters/PaginationOffset'
      - $ref: '#/components/parameters/X-Request-Id'
    get:
      summary: API for the OSP to retrieve activity history on the delegatee
      description: |
        Retrieve a paginated list of all actions performed on the delegatee.
        Sorting and filtering are not supported for this API.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR* and users with *DELEGATION_MANAGER* or *DELEGATION_SUPERVISOR* role for the DISPLAY_DELEGATION context can access all delegatees created by their service provider.
      operationId: GetDelegateeHistory
      tags:
        - Delegatees
      responses:
        '200':
          description: Return a paginated list of history records
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/PaginationMetaData'
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/History'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegation:
    parameters:
      - $ref: '#/components/parameters/X-Request-Id'
    get:
      summary: Retrieve a paginated list of records with support of sorting & filtering.
      description: |
        The API applies any sort and filter preferences passed to the API request and
        returns a paginated list of corresponding results.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR* and users with *DELEGATION_MANAGER* or *DELEGATION_SUPERVISOR* role for the DISPLAY_DELEGATION context can access all display delegations created by their service provider.
      operationId: SearchDisplayDelegations
      tags:
        - Display Delegations
      parameters:
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/TnStartFilter'
        - $ref: '#/components/parameters/TnEndFilter'
        - $ref: '#/components/parameters/DelegationRequestIdFilter'
        - $ref: '#/components/parameters/ExpirationDateFilter'
        - $ref: '#/components/parameters/DelegationStatusFilter'
        - $ref: '#/components/parameters/RoleFilter'
        - $ref: '#/components/parameters/DelegationDelegateeIdFilter'
        - $ref: '#/components/parameters/OspClientInternalIdFilter'
        - $ref: '#/components/parameters/OpeInformationFilter'
        - $ref: '#/components/parameters/OspFilter'
        - $ref: '#/components/parameters/OpeFilter'
        - $ref: '#/components/parameters/DelegationCreatedAtFilter'
        - $ref: '#/components/parameters/DelegationUpdatedAtFilter'
        - $ref: '#/components/parameters/DelegationRevokedAtFilter'
        - name: sort
          in: query
          description: |
            Sort preference using the format `property_name:order`, where:

            The `property_name` token is one of the following values:
              - `tn_start`
              - `tn_end`
              - `delegatee_id`
              - `created_at`
              - `updated_at`
              - `expiration_date`
              - `revoked_at`

            The `order` token may be set to `asc` or `desc`.
          schema:
            type: string
            pattern: ^(tn_start|tn_end|delegatee_id|created_at|updated_at|expiration_date|revoked_at):(([Aa]|[Dd][Ee])[Ss][Cc])$
            example: name:asc
      responses:
        '200':
          description: Return a paginated list of records
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/PaginationMetaData'
                  delegations:
                    type: array
                    items:
                      $ref: '#/components/schemas/DisplayDelegation'
              examples:
                DisplayDelegationSummaryListForOPE:
                  $ref: '#/components/examples/DisplayDelegationSummaryListForOPE'
                DisplayDelegationSummaryListForOSP:
                  $ref: '#/components/examples/DisplayDelegationSummaryListForOSP'
                DisplayDelegationSummaryListForAPNF:
                  $ref: '#/components/examples/DisplayDelegationSummaryListForAPNF'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      summary: API for the OPE to create display delegations for one or more telephone numbers.
      description: |
        This API shall be called by the service provider for telephone numbers he operates as an OPE.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*

        - Only *ADMINISTRATOR* and users with *DELEGATION_MANAGER* role for the DISPLAY_DELEGATION context can create display delegations for their provider.
      operationId: CreateDisplayDelegation
      requestBody:
        description: Creation request details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisplayDelegationCreationRequest'
      tags:
        - Display Delegations
      responses:
        '201':
          description: |
            Confirms the creation process and returns the list of the display delegations
            that have been created for the passed telephone numbers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisplayDelegationCreationResponse'
              examples:
                DisplayDelegationResponse:
                  summary: Display delegation successful creation response
                  value:
                    - tn_start: 33220102033
                      tn_end: 33220102033
                      status: ACTIVE
                      expiration_date: '2025-12-31T00:00:00Z'
                      role: OPE
                      delegatee_id: d4f7564e-cbf6-45c3-88db-8b4df159eaf6
                      ope_information: Lorem ipsum...
                      created_at: '2022-01-17T10:12:25Z'
                      created_by: John Doe <john.doe@spa.domain>
                      delegation_request_id: 052e12fe-bd7a-46f9-9d8d-b60f70b5733e
                    - tn_start: 33123456789
                      tn_end: 33123456900
                      status: ACTIVE
                      expiration_date: '2025-12-31T00:00:00Z'
                      role: OPE
                      delegatee_id: d4f7564e-cbf6-45c3-88db-8b4df159eaf6
                      ope_information: Lorem ipsum...
                      created_at: '2022-01-17T10:12:25Z'
                      created_by: John Doe <john.doe@spa.domain>
                      delegation_request_id: 052e12fe-bd7a-46f9-9d8d-b60f70b5733e
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          description: |
            Raises en error due to invalid data in the request.

            The response body contains an `error` and `message` properties
            that can be used to identify the type of validation error caught.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPayloadListError'
              examples:
                TnForbiddenDelegationCreationErrorResponse:
                  summary: Error raised when one of the numbers defined in the `tns` request property is not allowed
                  value:
                    - code: TN_FORBIDDEN
                      message: At least one number is not authorized for a display delegation. The incorrect telephone numbers are '<TNs>'.
                      errors: '`tns`: [tn1, tn2, ...]'
                TnFormatInvalidDelegationCreationErrorResponse:
                  summary: Error raised when one of the numbers defined in the `tns` request property is not allowed
                  value:
                    - code: TN_FORMAT_INVALID
                      message: The format of at least one of the numbers is invalid. The incorrect telephone numbers are '<TNs>'.
                      errors: '`tns`: [tn1, tn2, ...]'
                TnNotOwnedDelegationCreationErrorResponse:
                  summary: Error raised when one of the numbers defined in the `tns` request property is not allowed
                  value:
                    - code: TN_NOT_OWNED
                      message: The operator is not the OPE for at least one of the numbers provided. The incorrect telephone numbers are '<TNs>'.
                      errors: '`tns`: [tn1, tn2, ...]'
                DelegateeUnknownDelegationCreationErrorResponse:
                  summary: Error raised when one of the numbers defined in the `tns` request property is not allowed
                  value:
                    - code: DELEGATEE_UNKNOWN
                      message: The delegate identifier supplied does not exist in the database of known and active delegate identifiers
                      errors: '`delegatee_id`: d4f7564e-cbf6-45c3-88db-8b4df159eaf6'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '409':
          description: Error returned when too many display delegations have been created for one of the specified telephone numbers.
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                properties:
                  code:
                    type: string
                    description: Error code. Shall be capitalized with underscore.
                    example: CONFLICT
                  message:
                    type: string
                    description: Message providing more details and context for error that occurred
                    example: Maximum number of display delegations created for telephone number '<TN>'.
                  errors:
                    type: string
                    description: List of all invalid properties identified in the request, associated with the invalid value(s) identified in each of them
                    example: 'tns: [`tn1, tn2, ...`]'
              examples:
                DelegationAlreadyExistDelegationCreationErrorResponse:
                  summary: Error raised when one of the numbers defined in the `tns` request property already has display delegation with the same delegatee identifier. The limit of displayed telephone numbers is 100.
                  value:
                    - code: CONFLICT
                      message: A display delegation already exist with the same delegatee identifier for telephone numbers '<TNs>'.
                      errors: 'tns: [`tn1, tn2, ...`]'
                TooManyDelegationsDelegationCreationErrorResponse:
                  summary: Error raised when one of the numbers specified in the `tns` request property has reached the maximum delegation limit. The limit of displayed telephone numbers is 100.
                  value:
                    - code: TOO_MANY_DELEGATIONS
                      message: The number of display delegations has been reached for telephone numbers '<TNs>'.
                      errors: 'tns: [`tn1, tn2, ...`]'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      summary: API for the OPE to update one or more display delegations.
      description: |
        This API shall be called by the OPE associated to the display delegations to be updated.

        *Notes*:
        - Only display delegations with a status 'ACTIVE' and for which revocation has not already been requested can be updated.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*

        - *ADMINISTRATOR* and users with *DELEGATION_MANAGER* role for the DISPLAY_DELEGATION context can update any display delegations created by their service provider and still active .
      operationId: UpdateDisplayDelegations
      tags:
        - Display Delegations
      requestBody:
        required: true
        description: |
          The request shall contain:
          - The criteria to select the display delegations to be updated:
            - The `tn_start` and `tn_end` criteria are mandatory.
            - The `delegatee_id` criteria is optional.
          - The changes to apply on `expiration_date` and/or `ope_information` properties
        content:
          application/json:
            schema:
              type: object
              required:
                - tn_start
                - tn_end
              properties:
                tn_start:
                  allOf:
                    - description: |
                        Telephone number used to define the start of the range to search for active display delegations.
                        This field is mandatory.
                    - $ref: '#/components/schemas/Tn'
                tn_end:
                  allOf:
                    - description: |
                        Telephone number used to define the end of the range to search for active display delegations.
                        This field is mandatory.
                    - $ref: '#/components/schemas/Tn'
                delegatee_id:
                  allOf:
                    - description: |
                        Optional public delegatee ID used as additional criteria to find active display delegations created
                        with this delegatee and where the calling provider is defined as the OPE.
                        When provided, it will further filter the results within the specified TN range.
                    - $ref: '#/components/schemas/DelegateeId'
                expiration_date:
                  type: string
                  description: |
                    New expiration date to apply to the display delegations found using above criteria.
                  format: date-time
                  example: '2026-01-31T10:12:25Z'
                ope_information:
                  type: string
                  maxLength: 1024
                  description: |
                    New OPE information to associate to the display delegations found using above criteria.
                  example: Lorem ipsum...
      responses:
        '200':
          description: |
            Upon successful processing, the platform returns the list of display delegations that have been effectively updated.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DisplayDelegationUpdateEntry'
              examples:
                DisplayDelegationUpdateResponse:
                  summary: Display delegation update response for a single number and a ranger of numbers
                  value:
                    - tn_start: 33220102033
                      tn_end: 33220102033
                      delegatee_id: d4f7564e-cbf6-45c3-88db-8b4df159eaf6
                      expiration_date: '2026-12-31T12:00:00Z'
                      ope_information: Lorem ipsum...
                    - tn_start: 33123456789
                      tn_end: 33123456900
                      delegatee_id: d4f7564e-cbf6-45c3-88db-8b4df159eaf6
                      expiration_date: '2026-12-31T12:00:00Z'
                      ope_information: Lorem ipsum...
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegation/revoke:
    post:
      summary: API for the OPE to revoke one or more display delegations.
      description: |
        This API shall be called by the OPE associated to the display delegations to be revoked.

        Upon successful processing, the corresponding display delegations will be flagged for revocation, but not immediately revoked.

        A delay of maximum 7 days is applied, to wait for potentially new display delegations to be created by the OSP client
        for the same numbers, but with a different OPE, in the case these numbers have been ported to another service provider.

        *Notes*:
        - Only display delegations with a status 'ACTIVE' and for which revocation has not already been requested can be revoked.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*

        - *ADMINISTRATOR* and users with *DELEGATION_MANAGER* role for the DISPLAY_DELEGATION context can revoke any display delegations created by their service provider and still active .
      operationId: RevokeDisplayDelegations
      tags:
        - Display Delegations
      parameters:
        - $ref: '#/components/parameters/X-Request-Id'
      requestBody:
        required: true
        description: |
          The request shall contain the criteria to select the display delegations to be revoked:
          - The `tn_start` and `tn_end` criteria are mandatory.
          - The `delegatee_id` criteria is optional.
        content:
          application/json:
            schema:
              type: object
              required:
                - tn_start
                - tn_end
              properties:
                tn_start:
                  allOf:
                    - description: |
                        Telephone number used to define the start of the range to search for active display delegations.
                        This field is mandatory.
                    - $ref: '#/components/schemas/Tn'
                tn_end:
                  allOf:
                    - description: |
                        Telephone number used to define the end of the range to search for active display delegations.
                        This field is mandatory.
                    - $ref: '#/components/schemas/Tn'
                delegatee_id:
                  allOf:
                    - description: |
                        Public delegatee ID used as a criteria to find all active display delegations created
                        with this delegatee and where the calling provider is defined as the OPE.
                    - $ref: '#/components/schemas/DelegateeId'
      responses:
        '200':
          description: |
            Upon successful processing, the platform returns the list of display delegations that have been flagged for revocation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DisplayDelegationRevocationUpdateEntry'
              examples:
                DisplayDelegationRevocationResponse:
                  summary: Successful revocation request response
                  value:
                    - tn_start: 33220102033
                      tn_end: 33220102033
                      delegatee_id: d4f7564e-cbf6-45c3-88db-8b4df159eaf6
                      revocation_requested_at: '2025-05-12T14:15:54Z'
                    - tn_start: 33123456789
                      tn_end: 33123456900
                      delegatee_id: d4f7564e-cbf6-45c3-88db-8b4df159eaf6
                      revocation_requested_at: '2025-05-12T14:15:54Z'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '409':
          description: Error returned when the delegation(s) status are `EXPIRED` or `REVOKED`
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                properties:
                  code:
                    type: string
                    description: Error code. Shall be capitalized with underscore
                    example: CONFLICT
                  message:
                    type: string
                    description: Message providing more details and context for error that occurred
                    example: This delegation(s) status is expired or is already revoked.
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegation/export:
    parameters:
      - $ref: '#/components/parameters/X-Request-Id'
    get:
      summary: Return a csv containing a list of delegations matching the filters.
      description: |
        The API applies any sort and filter preferences passed to the API request and
        returns a paginated list of corresponding results.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR* and users with *DELEGATION_MANAGER* or *DELEGATION_SUPERVISOR* role for the DISPLAY_DELEGATION context can export all display delegations created by their service provider.

        The results are presented in csv format with headers defined according to the user's scope:

        - **OPE**: `status;tn_start;tn_end;expiration_date;delegatee_id;ope_information;created_at;updated_at;revoked_at`
        - **OSP**: `status;tn_start;tn_end;expiration_date;delegatee_id;osp_client_internal_id;created_at;revoked_at`
      operationId: ExportDisplayDelegations
      tags:
        - Display Delegations
      parameters:
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/TnStartFilter'
        - $ref: '#/components/parameters/TnEndFilter'
        - $ref: '#/components/parameters/DelegationRequestIdFilter'
        - $ref: '#/components/parameters/ExpirationDateFilter'
        - $ref: '#/components/parameters/DelegationStatusFilter'
        - $ref: '#/components/parameters/RoleFilter'
        - $ref: '#/components/parameters/DelegationDelegateeIdFilter'
        - $ref: '#/components/parameters/OspClientInternalIdFilter'
        - $ref: '#/components/parameters/OpeInformationFilter'
        - $ref: '#/components/parameters/OspFilter'
        - $ref: '#/components/parameters/OpeFilter'
        - $ref: '#/components/parameters/DelegationCreatedAtFilter'
        - $ref: '#/components/parameters/DelegationUpdatedAtFilter'
        - $ref: '#/components/parameters/DelegationRevokedAtFilter'
        - name: sort
          in: query
          description: |
            Sort preference using the format `property_name:order`, where:

            The `property_name` token is one of the following values:
              - `tn_start`
              - `tn_end`
              - `delegatee_id`
              - `created_at`
              - `updated_at`
              - `expiration_date`
              - `revoked_at`

            The `order` token may be set to `asc` or `desc`.
          schema:
            type: string
            pattern: ^(tn_start|tn_end|delegatee_id|created_at|updated_at|expiration_date|revoked_at):(([Aa]|[Dd][Ee])[Ss][Cc])$
            example: name:asc
      responses:
        '200':
          description: Return a csv file containg the results
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
          content:
            text/csv:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegation/bnd/osp:
    parameters:
      - $ref: '#/components/parameters/X-Request-Id'
    head:
      summary: Return date of the last change made on display delegations associated to the calling OSP.
      description: |
        This API returns the date of the last update performed on display delegations where the calling service provider
        is defined as the OSP. Changes can either be:
        - A new delegation created
        - A delegation is not active anymore, due its expiration or revocation.

        The date is returned in the `Last-Modified` response header.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR* and users with *DELEGATION_MANAGER* or *DELEGATION_SUPERVISOR* role for the DISPLAY_DELEGATION context can request this API.
      operationId: GetOspDisplayDelegationsLastUpdateDate
      tags:
        - Display Delegations Copies
      responses:
        '204':
          description: |
            Returns no contents. The `Last-Modified` header is set with the last update date of OSP display delegations.
          headers:
            Last-Modified:
              description: Last update date using HTTP-Date format (RFC 7231).
              schema:
                $ref: '#/components/schemas/RFC7231.HTTP-date'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticatedNoContents'
        '403':
          $ref: '#/components/responses/ErrorNoPermissionNoContents'
        '405':
          $ref: '#/components/responses/ErrorNotAllowed'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeaderNoContents'
        '429':
          $ref: '#/components/responses/ErrorRateLimitingNoContents'
        '500':
          $ref: '#/components/responses/ErrorInternalNoContents'
        '503':
          $ref: '#/components/responses/ServiceUnavailableNoContents'
    get:
      summary: Return the database of all active display delegations associated to the calling service provider as OSP, or changes that occurred on those delegations.
      description: |
        This method returns as a GZipped CSV file the list of all active display delegations published in the BND where the calling service provider is identified as the OSP.

        If the `since` parameter is specified, the file contains only changes made in the BND for this OSP since that date, meaning:
        - Display delegations that have been newly created with the service provider identified as the OSP
        - Display delegations where the service provider is identified as the OSP and which are not active anymore (due to revocation or expiration)

        An `If-Modified-Since` request header may also be specified. In that case, a **304** response is returned if no changes have been identified in the BND since the date specified in the header. This latter can be filled with the value of the `Last-Modified` response header collected from a previous call to this API or the `HEAD /delegation/bnd/osp` one.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR* and users with *DELEGATION_MANAGER* or *DELEGATION_SUPERVISOR* role for the DISPLAY_DELEGATION context can request this API.
      operationId: GetOspDisplayDelegationsCopy
      tags:
        - Display Delegations Copies
      parameters:
        - name: since
          in: query
          description: |
            Date in ISO-8601 format. When specified, return only the changes identified since that date.
            The minutes and seconds are ignored (`2022-01-17T10:12:25Z` is therefore interpreted as `2022-01-17T10:00:00Z`)
            and the date cannot be older than 15 days.
          required: false
          schema:
            type: string
            format: date-time
            example: '2025-01-19T10:00:00Z'
        - $ref: '#/components/parameters/If-Modified-Since'
      responses:
        '200':
          description: |
            Return a GZipped CSV file which includes the active display delegations where the service provider is identified as the OSP.
            Each line is composed of 2 elements:
            - A single telephone number or a range of consecutive numbers
            - The client internal ID that the OSP has provided when creating the delegatee used to create the display delegations

            ```ini
            <Single TN>;<OSP client internal ID>
            <TN Start>-<TN End>;<OSP client internal ID>
            [...]
            ```

            If the `since` parameter is present, the file contains only changes. Each line represents a change and is composed of 3 elements:
            - A single telephone number or a range of consecutive numbers
            - The client internal ID that the OSP has provided when creating the delegatee used to create the display delegations
            - The change that occurred since the date specified in the request: `CREATED` or `REMOVED`

            ```ini
            <Single TN>;<OSP client internal ID>;CREATED
            <TN Start>-<TN End>;<OSP client internal ID>;REMOVED
            ```

            A semicolon (`;`, `U+003B`) is used between each column and a linefeed is used between each line (`\n`, `U+000A`).
          content:
            application/gzip:
              schema:
                type: string
                format: binary
              examples:
                WithoutSinceParameter:
                  value: |
                    <Single TN>;<OSP client internal ID>
                    <TN Start>-<TN End>;<OSP client internal ID>
                WithSinceParameter:
                  value: |
                    <Single TN>;<OSP client internal ID>;CREATED
                    <TN Start>-<TN End>;<OSP client internal ID>;REMOVED
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Last-Modified:
              description: Date of last changes oberved on the BND. Uses HTTP-Date format (RFC 7231)
              schema:
                $ref: '#/components/schemas/RFC7231.HTTP-date'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '204':
          description: 'No Content : no change since the date provided in the `since` request parameter.'
          headers:
            Last-Modified:
              description: 'if enable : date of last changes observed on the BND. Uses HTTP-Date format (RFC 7231)'
              schema:
                $ref: '#/components/schemas/RFC7231.HTTP-date'
            Content-Type:
              $ref: '#/components/headers/Content-Type-GZip'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '304':
          description: No changes since the date provided in the `If-Modified-Since` request header.
          headers:
            Last-Modified:
              description: Date of last changes observed on the BND. Uses HTTP-Date format (RFC 7231)
              schema:
                $ref: '#/components/schemas/RFC7231.HTTP-date'
            Content-Type:
              $ref: '#/components/headers/Content-Type-GZip'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegation/bnd/tsp:
    parameters:
      - $ref: '#/components/parameters/X-Request-Id'
    head:
      summary: Return date of the last change made on display delegations in the BND.
      description: |
        This API returns the date of the last update made on all display delegations available in the BND:
        - A new delegation has been created
        - A delegation is not active anymore, due its expiration or revocation.

        The date is returned in the `Last-Modified` response header.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR* and users with *DELEGATION_MANAGER* or *DELEGATION_SUPERVISOR* role for the DISPLAY_DELEGATION context can request this API.
      operationId: GetDisplayDelegationLastUpdateDate
      tags:
        - Display Delegations Copies
      responses:
        '204':
          description: |
            Returns no contents. The `Last-Modified` header is set with the last update date of display delegations.
          headers:
            Last-Modified:
              description: Last update date using HTTP-Date format (RFC 7231).
              schema:
                $ref: '#/components/schemas/RFC7231.HTTP-date'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticatedNoContents'
        '403':
          $ref: '#/components/responses/ErrorNoPermissionNoContents'
        '405':
          $ref: '#/components/responses/ErrorNotAllowed'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeaderNoContents'
        '429':
          $ref: '#/components/responses/ErrorRateLimitingNoContents'
        '500':
          $ref: '#/components/responses/ErrorInternalNoContents'
        '503':
          $ref: '#/components/responses/ServiceUnavailableNoContents'
    get:
      summary: Return the database of all active display delegations in the BND, or changes that occurred on those delegations.
      description: |
        This method returns as a GZipped CSV file the list of all active display delegations available in the BND.

        If the `since` parameter is specified, the file contains only changes in the BND since that date, meaning:
        - Display delegations that have been newly created
        - Display delegations that are not active anymore (due to revocation or expiration)

        An `If-Modified-Since` request header may also be specified. In that case, a **304** response is returned if no changes
        have been identified in the BND since the date specified in the header. This latter can be filled with the value of the
        `Last-Modified` response header collected from a previous call to this API or the `HEAD /delegation/bnd/tsp` one.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR* and users with *DELEGATION_MANAGER* or *DELEGATION_SUPERVISOR* role for the DISPLAY_DELEGATION context can request this API.
      operationId: GetDisplayDelegationsCopy
      tags:
        - Display Delegations Copies
      parameters:
        - name: since
          in: query
          description: |
            Date in ISO-8601 format. When specified, return only the changes that occurred in the BND since that date.
            The minutes and seconds are ignored (`2022-01-17T10:12:25Z` is therefore interpreted as `2022-01-17T10:00:00Z`)
            and the date cannot be older than 15 days.
          required: false
          schema:
            type: string
            format: date-time
            example: '2022-01-19T10:00:00Z'
        - $ref: '#/components/parameters/If-Modified-Since'
      responses:
        '200':
          description: |
            Return a GZipped CSV file which includes all active display delegations in the BND.
            Each line is composed of 2 elements:
            - A single telephone number or a range of consecutive numbers
            - The APNF code of the service provider identified as the OSP for the active display delegations on this(ese) number(s)

            ```ini
            <Single TN>;<OSP APNF Code>
            <TN Start>-<TN End>;<OSP APNF Code>
            [...]
            ```

            If the `since` parameter is present, the file contains only changes. Each line represents a change and is composed of 3 elements:
            - A single telephone number or a range of consecutive numbers
            - The APNF code of the service provider identified as the OSP for the active display delegations on this(ese) number(s)
            - The change that occurred since the date specified in the request: `CREATED` or `REMOVED`

            ```ini
            <Single TN>;<OSP APNF Code>;CREATED
            <TN Start>-<TN End>;<OSP APNF Code>;REMOVED
            ```

            A semicolon (`;`, `U+003B`) is used between each column and a linefeed is used between each line (`\n`, `U+000A`).
          content:
            application/gzip:
              schema:
                type: string
                format: binary
              examples:
                WithoutSinceParameter:
                  value: |
                    <Single TN>;<OSP APNF Code>
                    <TN Start>-<TN End>;<OSP APNF Code>
                WithSinceParameter:
                  value: |
                    <Single TN>;<OSP APNF Code>;CREATED
                    <TN Start>-<TN End>;<OSP APNF Code>;REMOVED
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            Last-Modified:
              description: Date of last changes oberved on the BND. Uses HTTP-Date format (RFC 7231)
              schema:
                $ref: '#/components/schemas/RFC7231.HTTP-date'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '204':
          description: 'No Content : no change since the date provided in the `since` request parameter.'
          headers:
            Last-Modified:
              description: 'if enable : date of last changes observed on the BND. Uses HTTP-Date format (RFC 7231)'
              schema:
                $ref: '#/components/schemas/RFC7231.HTTP-date'
            Content-Type:
              $ref: '#/components/headers/Content-Type-GZip'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '304':
          description: No changes since the date provided in the `If-Modified-Since` request header.
          headers:
            Last-Modified:
              description: Date of last changes observed on the BND. Uses HTTP-Date format (RFC 7231)
              schema:
                $ref: '#/components/schemas/RFC7231.HTTP-date'
            Content-Type:
              $ref: '#/components/headers/Content-Type-GZip'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegation/verify/{spc}/{tn}:
    get:
      summary: Verify if a display delegation exists for a specific telephone number and OSP
      description: |
        This method shall be called by a TSP to let it verify if a display delegation has been granted for a given OSP on a specific telephone number and is still active.

        The API returns 204 as HTTP response code if a delegation exists, 404 otherwise.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR* and users with *DELEGATION_MANAGER* or *DELEGATION_SUPERVISOR* role for the DISPLAY_DELEGATION context can request this API.
      operationId: CheckDisplayDelegationExistence
      tags:
        - Display Delegations
      parameters:
        - name: spc
          in: path
          description: Service Provider Code. Each service provider in France is assigned a unique code by the APNF.
          required: true
          schema:
            type: string
            pattern: ^([0-9A-Z]{6})$
            example: OPC000
        - $ref: '#/components/parameters/Tn'
        - $ref: '#/components/parameters/X-Request-Id'
      responses:
        '204':
          description: |
            A display delegation exists for the telephone number and the OSP service provider and is still active.
            Returns no contents.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          description: |
            Raises en error due to invalid data in the request.

            The response body contains an `error` and `message` properties
            that can be used to identify the type of validation error caught.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiPayloadListError'
              examples:
                TnForbiddenDelegationCreationErrorResponse:
                  summary: Error raised when one of the numbers defined in the `tns` request property is not allowed
                  value:
                    - code: TN_FORBIDDEN
                      message: At least one number is not authorized for a display delegation. The incorrect telephone numbers are '<TNs>'.
                      errors: '`tns`: [tn1]'
                TnFormatInvalidDelegationCreationErrorResponse:
                  summary: Error raised when one of the numbers defined in the `tns` request property is not allowed
                  value:
                    - code: TN_FORMAT_INVALID
                      message: The format of at least one of the numbers is invalid. The incorrect telephone numbers are '<TNs>'.
                      errors: '`tns`: [tn1]'
                InvalidProviderCodeErrorResponse:
                  summary: Error raised when the ProviderCode is not valid in the request
                  value:
                    - code: INVALID_PROVIDER_CODE
                      message: Invalid SPC code '<invalid SPC>'.
                      errors: <invalid SPC>
        '404':
          description: |
            No active display delegation exists for the telephone number and the OSP service provider.
            Returns no contents.
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '405':
          $ref: '#/components/responses/ErrorNotAllowed'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegation/ticket:
    parameters:
      - $ref: '#/components/parameters/X-Request-Id'
    post:
      summary: Create a new ticket for delegation
      description: |
        Create a new ticket and notify the other provider(s) involved (notification will be sent to all mail adresses defined for the providers).

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR*, *DELEGATION_MANAGER* and *DELEGATION_SUPERVISOR* users can create new tickets.
      operationId: CreateDelegationTicket
      requestBody:
        description: Ticket details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DelegationTicketForCreation'
      tags:
        - Display Delegation Tickets
      responses:
        '201':
          description: |
            Confirms the creation of the new ticket and returns its details in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegationTicket'
              examples:
                ticket:
                  $ref: '#/components/examples/DelegationTicket'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      summary: Return a list of tickets for delegation matching the filters
      description: |
        The API applies any sort and filter preferences passed to the API request and returns a paginated list of
        corresponding results.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR* users can retrieve tickets where they are involved.
      operationId: ListDelegationTicket
      tags:
        - Display Delegation Tickets
      parameters:
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/TicketReferenceIdFilter'
        - $ref: '#/components/parameters/TicketIssueTypeFilter'
        - $ref: '#/components/parameters/TicketAuthorInternalIdFilter'
        - $ref: '#/components/parameters/TicketStatusFilter'
        - $ref: '#/components/parameters/TicketCriticalityFilter'
        - $ref: '#/components/parameters/TicketTypologyCodeFilter'
        - $ref: '#/components/parameters/TicketNextActionRequiredByFilter'
        - $ref: '#/components/parameters/TicketProviderAuthorApnfCodeFilter'
        - $ref: '#/components/parameters/TicketCreationDateFilter'
        - $ref: '#/components/parameters/TicketModificationDateFilter'
        - name: sort
          in: query
          description: |
            Sort preference using the format `property_name:order`, where:
            * `property_name` is one of the following values:
             - `status`
             - `reference_id`
             - `issue_type`
             - `typology_code`
             - `status`
             - `criticality`
             - `provider_author_apnf_code`
             - `next_action_required_by`
             - `creation_date`
             - `modification_date`

            * `order` may be set to `asc` or `desc`.
          schema:
            type: string
            pattern: ^(status|reference_id|typology_code|status|criticality|provider_author_apnf_code|next_action_required_by|creation_date|modification_date):(([Aa]|[Dd][Ee])[Ss][Cc])$
            example: start_date:asc
      responses:
        '200':
          description: Return a paginated list of records
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
          content:
            application/json:
              schema:
                type: object
                properties:
                  metadata:
                    $ref: '#/components/schemas/PaginationMetaData'
                  tickets:
                    type: array
                    items:
                      $ref: '#/components/schemas/DelegationTicketForList'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegation/ticket/{ticket_id}:
    parameters:
      - $ref: '#/components/parameters/TicketId'
      - $ref: '#/components/parameters/X-Request-Id'
    get:
      summary: Return details of a ticket for delegation
      description: |
        Return a JSON object with ticket details

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR* users can retrieve tickets where they are involved.
      operationId: GetDelegationTicket
      tags:
        - Display Delegation Tickets
      responses:
        '200':
          description: Return the JSON object with ticket details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegationTicket'
              examples:
                ticket:
                  $ref: '#/components/examples/DelegationTicket'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    patch:
      summary: Update a ticket for delegation
      description: |
        Update a ticket for delegation.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR* users can update tickets where they are involved.
      operationId: UpdateDelegationTicket
      tags:
        - Display Delegation Tickets
      requestBody:
        required: true
        description: |
          A [JSON Merge Patch (RFC 7386)](https://datatracker.ietf.org/doc/html/rfc7386) containing only the properties
          that must be updated (with the new value) or deleted (with null as value).
        content:
          application/merge-patch+json:
            schema:
              $ref: '#/components/schemas/DelegationTicketForPatch'
            examples:
              UpdateTicket:
                $ref: '#/components/examples/DelegationTicketPatch'
      responses:
        '200':
          description: Confirms successful processing and returns updated ticket in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegationTicket'
              examples:
                Meteo:
                  $ref: '#/components/examples/DelegationTicket'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegation/ticket/{ticket_id}/close:
    parameters:
      - $ref: '#/components/parameters/TicketId'
      - $ref: '#/components/parameters/X-Request-Id'
    post:
      summary: Close a ticket for delegation
      description: |
        Close a ticket and send a notification to all other providers involved  (notification will be sent to all mail adresses defined for the providers).

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR* users can close tickets they have opened.
      operationId: CloseDelegationTicket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - resolution
              properties:
                resolution:
                  $ref: '#/components/schemas/TicketResolution'
                comment:
                  type: string
                  description: a comment to be added
                  example: this ticket is fixed
      tags:
        - Display Delegation Tickets
      responses:
        '200':
          description: Return the JSON object with ticket details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegationTicket'
              examples:
                ticket:
                  $ref: '#/components/examples/DelegationTicketClosed'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegation/ticket/{ticket_id}/comment:
    parameters:
      - $ref: '#/components/parameters/TicketId'
      - $ref: '#/components/parameters/X-Request-Id'
    post:
      summary: Comment a ticket for delegation and send a notification
      description: |
        Adds a comment to the ticket.
        The first time the ticket is commented by the recipient provider, the status is automatically updated to "in progress"
        Sends a notification to the other involved providers  (notification will be sent to all mail adresses defined for the providers)
        Providers allowed to comment are:
        * Author provider
        * Affected provider

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR* users can comment opened tickets they are involved in.
      operationId: CommentDelegationTicket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - comment
              properties:
                comment:
                  type: string
                  description: the text of the comment
                  example: this is my comment
                  maxLength: 1000
      tags:
        - Display Delegation Tickets
      responses:
        '200':
          description: Return the JSON object with ticket details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketComment'
              examples:
                ticket:
                  $ref: '#/components/examples/TicketComment'
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '415':
          $ref: '#/components/responses/ErrorInvalidContentType'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      summary: Return comments of a ticket for delegation
      description: |
        The API returns list of comments for the specified ticket.

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR* users can retrieve comments for any tickets they are involved in.
      operationId: ListDelegationTicketComments
      tags:
        - Display Delegation Tickets
      responses:
        '200':
          description: Return a list of records
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketComment'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegation/ticket/export:
    parameters:
      - $ref: '#/components/parameters/X-Request-Id'
    get:
      summary: return a csv containing a list of tickets matching the filters
      description: |
        The API applies any sort and filter preferences passed to the API request and returns a paginated list of
        corresponding results.

        The results are presented in a csv format with the following headers:
        `id;status;issue_type;typology_code;typology_criticality;typology_label;provider_author_apnf_code;next_action_required_by;creation_date;ope;osp;author_ticket_internal_id;modification_date;creation_author;modification_author;automatically_updated;description;provider_author_role;estimated_issue_date;comments(provider_author_apnf_code|creation_date|text)`

        The comments for each ticket are aggregated in the last column "comments(column provider_author_apnf_code|creation_date|text)"
          example: "WRDL00|2025-01-31T15:16:30Z|le commentaire 1|WRDL01|2025-02-01T15:16:30Z|le commentaire 2"

        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*

        - *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR* users can retrieve tickets where they are involved.
      operationId: ExportDelegationTickets
      tags:
        - Display Delegation Tickets
      parameters:
        - $ref: '#/components/parameters/PaginationLimit'
        - $ref: '#/components/parameters/PaginationOffset'
        - $ref: '#/components/parameters/TicketReferenceIdFilter'
        - $ref: '#/components/parameters/TicketIssueTypeFilter'
        - $ref: '#/components/parameters/TicketAuthorInternalIdFilter'
        - $ref: '#/components/parameters/TicketStatusFilter'
        - $ref: '#/components/parameters/TicketCriticalityFilter'
        - $ref: '#/components/parameters/TicketTypologyCodeFilter'
        - $ref: '#/components/parameters/TicketNextActionRequiredByFilter'
        - $ref: '#/components/parameters/TicketProviderAuthorApnfCodeFilter'
        - $ref: '#/components/parameters/TicketCreationDateFilter'
        - $ref: '#/components/parameters/TicketModificationDateFilter'
        - name: sort
          in: query
          description: |
            Sort preference using the format `property_name:order`, where:
            * `property_name` is one of the following values:
             - `status`
             - `reference_id`
             - `issue_type`
             - `typology_code`
             - `status`
             - `criticality`
             - `provider_author_apnf_code`
             - `next_action_required_by`
             - `creation_date`
             - `modification_date`

            * `order` may be set to `asc` or `desc`.
          schema:
            type: string
            pattern: ^(status|reference_id|(issue|communication)_type|criticality|provider_author_apnf_code|next_action_required_by|creation_date):(([Aa]|[Dd][Ee])[Ss][Cc])$
            example: start_date:asc
      responses:
        '200':
          description: Return a csv file containg the results
          headers:
            Content-Length:
              required: false
              description: |
                Optional. Only present when the response body size is less than 8 KB.
                For larger responses, chunked transfer encoding is used and Content-Length is not sent.
              schema:
                type: integer
                example: 80
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
          content:
            text/csv:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /delegation/ticket/typology:
    parameters:
      - $ref: '#/components/parameters/X-Request-Id'
    get:
      summary: Return a list of typologies for delegation
      description: |
        **Allowed Roles**: *ADMINISTRATOR*, *DELEGATION_MANAGER*, *DELEGATION_SUPERVISOR*
      operationId: ListDelegationTicketTypology
      tags:
        - Display Delegation Tickets
      responses:
        '200':
          description: Return a list of records
          headers:
            Content-Length:
              $ref: '#/components/headers/Content-Length'
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Response-Id:
              $ref: '#/components/headers/X-Response-Id'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketTypologyListView'
        '400':
          $ref: '#/components/responses/ErrorValidation'
        '401':
          $ref: '#/components/responses/ErrorNotAuthenticated'
        '403':
          $ref: '#/components/responses/ErrorNoPermission'
        '406':
          $ref: '#/components/responses/ErrorInvalidAcceptHeader'
        '429':
          $ref: '#/components/responses/ErrorRateLimiting'
        '500':
          $ref: '#/components/responses/ErrorInternal'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
security:
  - access_token: []
components:
  examples:
    DelegationTicket:
      value:
        id: 14fa2014-8b50-4159-a250-789ebf4500e6
        issue_type: INCIDENT
        delegatee_id: 9d82a078-01cb-4a70-a529-14b7e57d4a21
        typology_code: D1
        typology_label: Display delegation procedure blocked
        typology_criticality: 2
        description: This is not the first time
        provider_author_role: OPE
        next_action_required_by: OPE200
        tns:
          - '102030406'
          - 0100-0200
        estimated_issue_date: '2022-01-17T10:12:25Z'
        provider_author_apnf_code: OPE100
        modification_author_apnf_code: OPE100
        status: OPEN
        resolution: null
        creation_date: '2022-01-17T10:12:25Z'
        creation_author: 61757468-6f72-2d31-3030-000000000000
        modification_date: '2022-01-17T10:12:25Z'
        modification_author: 61757468-6f72-2d31-3030-000000000123
        reference_id: 1
        automatically_updated: false
        author_ticket_internal_id: My_Internal_ID123
        ope: OPE100
        osp: OPE200
    DelegationTicketClosed:
      value:
        id: 14fa2014-8b50-4159-a250-789ebf4500e6
        issue_type: INCIDENT
        delegatee_id: 9d82a078-01cb-4a70-a529-14b7e57d4a21
        typology_code: D1
        typology_label: Display delegation procedure blocked
        typology_criticality: 2
        description: This is not the first time
        provider_author_role: OPE
        next_action_required_by: OPE200
        tns:
          - '102030406'
          - 0100-0200
        estimated_issue_date: '2022-01-17T10:12:25Z'
        provider_author_apnf_code: OPE100
        modification_author_apnf_code: OPE100
        status: CLOSED
        resolution: FIXED
        creation_date: '2022-01-17T10:12:25Z'
        creation_author: 61757468-6f72-2d31-3030-000000000000
        modification_date: '2022-01-17T10:12:25Z'
        modification_author: 61757468-6f72-2d31-3030-000000000123
        reference_id: 1
        automatically_updated: false
        author_ticket_internal_id: My_Internal_ID123
        ope: OPE100
        osp: OPE200
    DelegationTicketPatch:
      value:
        tns:
          - '102030406'
          - 0100-0200
        delegatee_id: 9d82a078-01cb-4a70-a529-14b7e57d4a21
        description: This is not the first time
        next_action_required_by: OPE100
        estimated_issue_date: '2022-01-17T10:12:25Z'
        author_ticket_internal_id: My_Internal_ID123
    DisplayDelegationSummaryListForAPNF:
      summary: Paginated list of records for APNF
      value:
        metadata:
          offset: 40,
          limit: 20,
          links:
            next: /resource?offset=60&limit=20
            first: /resource?offset=0&limit=20
            prev: /resource?offset=20&limit=20
        delegations:
          id: 7f141d29-17a0-45cd-8df3-92c41649263b
          tn_start: 33123456789
          tn_end: 33123456900
          delegation_request_id: 9d82a078-01cb-4a70-a529-14b7e57d4a21
          status: ACTIVE
          expiration_date: '2022-01-17T10:12:25Z'
          ope: OPC000
          osp: OPC001
          delegatee_id: 9d82a078-01cb-4a70-a529-14b7e57d4a21
          created_at: '2020-01-17T10:12:25Z'
    DisplayDelegationSummaryListForOPE:
      summary: Paginated list of records for OPE
      value:
        metadata:
          offset: 40,
          limit: 20,
          links:
            next: /resource?offset=60&limit=20
            first: /resource?offset=0&limit=20
            prev: /resource?offset=20&limit=20
        delegations:
          tn_start: 33123456789
          tn_end: 33123456900
          status: ACTIVE
          expiration_date: '2022-01-17T10:12:25Z'
          role: OPE
          delegatee_id: 9d82a078-01cb-4a70-a529-14b7e57d4a21
          ope_information: Lorem ipsum...
          created_at: '2020-01-17T10:12:25Z'
          created_by: API
          updated_at: '2020-01-17T10:12:25Z'
          updated_by: API
          delegation_request_id: 30f069c5-072a-4488-9170-ef898e16d1a5
    DisplayDelegationSummaryListForOSP:
      summary: Paginated list of records for OSP
      value:
        metadata:
          offset: 40,
          limit: 20,
          links:
            next: /resource?offset=60&limit=20
            first: /resource?offset=0&limit=20
            prev: /resource?offset=20&limit=20
        delegations:
          id: 7f141d29-17a0-45cd-8df3-92c41649263b
          tn_start: 33123456789
          tn_end: 33123456900
          status: ACTIVE
          expiration_date: '2022-01-17T10:12:25Z'
          role: OSP
          delegatee_id: 9d82a078-01cb-4a70-a529-14b7e57d4a21
          osp_client_internal_id: CLIENT-SI054
          created_at: '2020-01-17T10:12:25Z'
          delegation_request_id: 30f069c5-072a-4488-9170-ef898e16d1a5
    TicketComment:
      value:
        text: this is my comment
        provider_author_apnf_code: OPE100
        creation_date: '2022-01-17T10:12:25Z'
  headers:
    Content-Length:
      description: Size in bytes of the response body.
      schema:
        type: integer
        example: 80
    Content-Type-GZip:
      description: Content-Type header set as "application/gzip".
      schema:
        type: string
        example: application/gzip
    X-Correlation-Id:
      description: ID generated by the API gateway.
      schema:
        $ref: '#/components/schemas/UUID'
      example: f13371a6-40d7-48cf-a221-794b63fddbd9
    X-Response-Id:
      description: Response ID that corresponds to the `X-Request-Id` request header, if provided.
      schema:
        $ref: '#/components/schemas/UUID'
      example: 68831c50-2953-4047-9935-81a98ac1e1e1
  parameters:
    ClientInternalIdFilter:
      name: client_internal_id
      in: query
      description: |
        Filter by client internal ID.

        **Operators:** `eq`, `ne`, `match`, `not_match`, `in`, `not_in`
      required: false
      schema:
        type: string
        maxLength: 128
      example: CLIENT-SI054
    DelegateeCreatedAtFilter:
      name: created_at
      in: query
      description: |
        Filter by creation date (ISO-8601 format).

        **Operators:** `eq`, `ne`, `gt`, `gte`, `lt`, `lte`, `in`, `not_in`
      required: false
      schema:
        type: string
        format: date-time
      example: '2022-01-01T00:00:00Z'
    DelegateeId:
      name: delegatee_id
      in: path
      description: Delegatee unique ID
      required: true
      example: 155720a6-f4c9-40ec-b479-a32d7f062553
      schema:
        $ref: '#/components/schemas/UUID'
    DelegateeIdFilter:
      name: delegatee_id
      in: query
      description: |
        Filter by delegatee ID.

        **Operators:** `eq`, `ne`, `in`, `not_in`
      required: false
      schema:
        type: string
        format: uuid
      example: d4f7564e-cbf6-45c3-88db-8b4df159eaf6
    DelegateeRevokedAtFilter:
      name: revoked_at
      in: query
      description: |
        Filter by revocation date (ISO-8601 format).

        **Operators:** `eq`, `ne`, `gt`, `gte`, `lt`, `lte`, `in`, `not_in`
      required: false
      schema:
        type: string
        format: date-time
      example: '2022-01-01T00:00:00Z'
    DelegateeStatusFilter:
      name: status
      in: query
      description: |
        Filter by delegatee status.

        **Operators:** `eq`, `ne`, `in`, `not_in`
      required: false
      schema:
        type: string
        enum:
          - ACTIVE
          - REVOKED
      example: ACTIVE
    DelegationCntFilter:
      name: delegation_cnt
      in: query
      description: |
        Filter by number of active delegations.

        **Operators:** `eq`, `ne`, `gt`, `gte`, `lt`, `lte`, `in`, `not_in`
      required: false
      schema:
        type: integer
        minimum: 0
      example: 5
    DelegationCreatedAtFilter:
      name: created_at
      in: query
      description: |
        Filter by creation date (ISO-8601 format).

        **Operators:** `eq`, `ne`, `gt`, `gte`, `lt`, `lte`, `in`, `not_in`
      required: false
      schema:
        type: string
        format: date-time
      example: '2024-01-15T10:30:00Z'
    DelegationDelegateeIdFilter:
      name: delegatee_id
      in: query
      description: |
        Filter by delegatee ID.

        **Operators:** `eq`, `ne`, `in`, `not_in`
      required: false
      schema:
        type: string
        format: uuid
      example: d4f7564e-cbf6-45c3-88db-8b4df159eaf6
    DelegationRequestIdFilter:
      name: delegation_request_id
      in: query
      description: |
        Filter by delegation request ID (APNF/MAN_ADMIN only).

        **Operators:** `eq`, `ne`, `in`, `not_in`
      required: false
      schema:
        type: string
        format: uuid
      example: a3f2564e-cbf6-45c3-88db-8b4df159eaf7
    DelegationRevokedAtFilter:
      name: revoked_at
      in: query
      description: |
        Filter by revocation date (ISO-8601 format).

        **Operators:** `eq`, `ne`, `gt`, `gte`, `lt`, `lte`, `in`, `not_in`
      required: false
      schema:
        type: string
        format: date-time
      example: '2024-02-01T09:00:00Z'
    DelegationStatusFilter:
      name: status
      in: query
      description: |
        Filter by delegation status.

        **Operators:** `eq`, `ne`, `in`, `not_in`
      required: false
      schema:
        type: string
        enum:
          - ACTIVE
          - REVOKED
          - EXPIRED
      example: ACTIVE
    DelegationUpdatedAtFilter:
      name: updated_at
      in: query
      description: |
        Filter by last update date (ISO-8601 format).

        **Operators:** `eq`, `ne`, `gt`, `gte`, `lt`, `lte`, `in`, `not_in`
      required: false
      schema:
        type: string
        format: date-time
      example: '2024-01-16T14:20:00Z'
    ExpirationDateFilter:
      name: expiration_date
      in: query
      description: |
        Filter by expiration date (ISO-8601 format).

        **Operators:** `eq`, `ne`, `gt`, `gte`, `lt`, `lte`, `in`, `not_in`
      required: false
      schema:
        type: string
        format: date-time
      example: '2025-12-31T23:59:59Z'
    If-Modified-Since:
      name: If-Modified-Since
      in: header
      description: Date in HTTP-Date format (RFC 7231).
      required: false
      schema:
        $ref: '#/components/schemas/RFC7231.HTTP-date'
    OpeFilter:
      name: ope
      in: query
      description: |
        Filter by OPE (APNF only).

        **Operators:** `eq`, `ne`, `match`, `not_match`, `in`, `not_in`
      required: false
      schema:
        type: string
        maxLength: 6
      example: OPC000
    OpeInformationFilter:
      name: ope_information
      in: query
      description: |
        Filter by OPE information (OPE only).

        **Operators:** `eq`, `ne`, `match`, `not_match`, `in`, `not_in`
      required: false
      schema:
        type: string
        maxLength: 1024
      example: Lorem ipsum...
    OspClientInternalIdFilter:
      name: osp_client_internal_id
      in: query
      description: |
        Filter by OSP internal client identifier (OSP only).

        **Operators:** `eq`, `ne`, `match`, `not_match`, `in`, `not_in`
      required: false
      schema:
        type: string
        maxLength: 128
      example: client_123
    OspFilter:
      name: osp
      in: query
      description: |
        Filter by OSP (APNF only).

        **Operators:** `eq`, `ne`, `match`, `not_match`, `in`, `not_in`
      required: false
      schema:
        type: string
        maxLength: 6
      example: OPC001
    PaginationLimit:
      name: limit
      in: query
[...]
